openapi: 3.1.0
info:
  title: LumiBase CMS API
  version: 0.1.0
  description: |
    Edge-native Headless CMS API. See `docs/api/hono-api-spec.md` for the full
    surface; this file is the machine-readable contract that ships with the
    repo. Endpoints land incrementally — Phase 0 covers auth/health only.

servers:
  - url: https://api.lumibase.dev/api/v1
    description: Production
  - url: http://127.0.0.1:8787/api/v1
    description: Local wrangler dev

security:
  - bearerAuth: []

components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
  parameters:
    SiteHeader:
      name: X-Lumi-Site
      in: header
      required: true
      schema: { type: string }
      description: Active tenant id. Required for every authenticated endpoint.
  schemas:
    Error:
      type: object
      properties:
        errors:
          type: array
          items:
            type: object
            required: [code, message]
            properties:
              code: { type: string }
              message: { type: string }
              path:
                type: array
                items: { type: string }
              trace: { type: object, additionalProperties: true }
    AuthMe:
      type: object
      properties:
        data:
          type: object
          required: [logtoId, siteId, roles]
          properties:
            logtoId: { type: string }
            email: { type: string, format: email, nullable: true }
            roles:
              type: array
              items: { type: string }
            siteId: { type: string }
            permissions:
              nullable: true
              description: Computed permission matrix. Populated in Phase C.
              type: object
              additionalProperties: true
    Health:
      type: object
      properties:
        status: { type: string, enum: [ok] }
        env: { type: string }
        ts: { type: string, format: date-time }
    Version:
      type: object
      properties:
        name: { type: string }
        version: { type: string }
        apiVersion: { type: integer }
        env: { type: string }
    Collection:
      type: object
      required: [id, siteId, name]
      properties:
        id: { type: string }
        siteId: { type: string }
        name: { type: string, pattern: '^[a-z][a-z0-9_]{0,62}$' }
        singleton: { type: boolean }
        icon: { type: string, nullable: true }
        color: { type: string, nullable: true }
        note: { type: string, nullable: true }
        displayTemplate: { type: string, nullable: true }
        sortField: { type: string, nullable: true }
        archiveField: { type: string, nullable: true }
        archiveValue: { type: string, nullable: true }
        accountability: { type: string, enum: [all, activity, none] }
        versioning: { type: boolean }
        meta: { type: object, additionalProperties: true }
        createdAt: { type: string, format: date-time }
        updatedAt: { type: string, format: date-time }
    Field:
      type: object
      required: [id, name, type, interface]
      properties:
        id: { type: string }
        collectionId: { type: string }
        name: { type: string, pattern: '^[a-z][a-z0-9_]{0,62}$' }
        type: { type: string }
        interface: { type: string }
        display: { type: string, nullable: true }
        options: { type: object, additionalProperties: true }
        displayOptions: { type: object, additionalProperties: true }
        validation: { type: object, additionalProperties: true }
        conditions:
          type: array
          items: { type: object, additionalProperties: true }
        required: { type: boolean }
        readonly: { type: boolean }
        hidden: { type: boolean }
        encrypted: { type: boolean }
        versioned: { type: boolean }
        rawEnabled: { type: boolean }
        width: { type: string, enum: [half, full, fill] }
        group: { type: string, nullable: true }
        sortOrder: { type: integer }
    Role:
      type: object
      required: [id, siteId, name]
      properties:
        id: { type: string }
        siteId: { type: string }
        name: { type: string }
        description: { type: string, nullable: true }
        icon: { type: string, nullable: true }
        adminAccess: { type: boolean }
        appAccess: { type: boolean }
        createdAt: { type: string, format: date-time }
    Policy:
      type: object
      required: [id, siteId, name]
      properties:
        id: { type: string }
        siteId: { type: string }
        name: { type: string }
        description: { type: string, nullable: true }
        rules: { type: object, additionalProperties: true }
        createdAt: { type: string, format: date-time }
    PermissionRow:
      type: object
      required: [id, policyId, collection, action]
      properties:
        id: { type: string }
        siteId: { type: string }
        policyId: { type: string }
        collection: { type: string }
        action: { type: string, enum: [create, read, update, delete, share] }
        permissions: { type: object, additionalProperties: true }
        validation: { type: object, additionalProperties: true }
        presets: { type: object, additionalProperties: true }
        fields:
          type: array
          items: { type: string }
    PermissionBundle:
      type: object
      required: [admin, byKey, roles]
      properties:
        admin: { type: boolean }
        byKey:
          type: object
          additionalProperties: { type: object, additionalProperties: true }
        roles:
          type: array
          items:
            type: object
            properties:
              id: { type: string }
              name: { type: string }
              adminAccess: { type: boolean }
              appAccess: { type: boolean }
    PermissionCheckResult:
      type: object
      required: [allowed, fields]
      properties:
        allowed: { type: boolean }
        reason: { type: string, nullable: true }
        fields:
          type: array
          items: { type: string }
        rule: { type: object, nullable: true, additionalProperties: true }
        presets: { type: object, additionalProperties: true }

paths:
  /utils/health:
    get:
      summary: Liveness probe
      security: []
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Health' }
  /utils/version:
    get:
      summary: API + runtime version
      security: []
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Version' }
  /collections:
    get:
      summary: List collections in the active site
      parameters: [{ $ref: '#/components/parameters/SiteHeader' }]
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items: { $ref: '#/components/schemas/Collection' }
    post:
      summary: Create a collection
      parameters: [{ $ref: '#/components/parameters/SiteHeader' }]
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/Collection' }
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                type: object
                properties:
                  data: { $ref: '#/components/schemas/Collection' }
        '409':
          description: Collection already exists
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Error' }
  /collections/{name}:
    parameters:
      - $ref: '#/components/parameters/SiteHeader'
      - name: name
        in: path
        required: true
        schema: { type: string }
    get:
      summary: Get collection by name
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data: { $ref: '#/components/schemas/Collection' }
    patch:
      summary: Update collection metadata
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/Collection' }
      responses:
        '200':
          description: OK
    delete:
      summary: Delete collection (rejected when relations reference it)
      responses:
        '204': { description: Deleted }
  /collections/{name}/fields:
    parameters:
      - $ref: '#/components/parameters/SiteHeader'
      - name: name
        in: path
        required: true
        schema: { type: string }
    get:
      summary: List fields of a collection
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items: { $ref: '#/components/schemas/Field' }
  /collections/{name}/fields/{field}:
    parameters:
      - $ref: '#/components/parameters/SiteHeader'
      - { name: name, in: path, required: true, schema: { type: string } }
      - { name: field, in: path, required: true, schema: { type: string } }
    put:
      summary: Upsert a field (idempotent by name)
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/Field' }
      responses:
        '200':
          description: OK
    delete:
      summary: Delete a field
      responses:
        '204': { description: Deleted }
  /collections/diff:
    post:
      summary: Diff a proposed schema against the current collection
      parameters: [{ $ref: '#/components/parameters/SiteHeader' }]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [name]
              properties:
                name: { type: string }
                $ref: '#/components/schemas/Collection'
                fields:
                  type: array
                  items: { $ref: '#/components/schemas/Field' }
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      collection:
                        type: object
                        properties:
                          added: { type: array, items: { type: string } }
                          removed: { type: array, items: { type: string } }
                          changed: { type: array, items: { type: object } }
                      fields:
                        type: object
                        properties:
                          added: { type: array, items: { type: object } }
                          removed: { type: array, items: { type: string } }
                          changed: { type: array, items: { type: object } }
  /collections/{name}/schema:
    parameters:
      - $ref: '#/components/parameters/SiteHeader'
      - { name: name, in: path, required: true, schema: { type: string } }
    put:
      summary: Atomically update collection and its fields
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                $ref: '#/components/schemas/Collection'
                fields:
                  type: array
                  items: { $ref: '#/components/schemas/Field' }
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data: { $ref: '#/components/schemas/Collection' }
  /collections/{name}/compiled:
    parameters:
      - $ref: '#/components/parameters/SiteHeader'
      - { name: name, in: path, required: true, schema: { type: string } }
    get:
      summary: Get the cached compiled schema for ItemService
      responses:
        '200':
          description: OK
  /relations:
    get:
      summary: List relations in the active site
      parameters: [{ $ref: '#/components/parameters/SiteHeader' }]
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items: { $ref: '#/components/schemas/Relation' }
    post:
      summary: Create a relation
      parameters: [{ $ref: '#/components/parameters/SiteHeader' }]
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/Relation' }
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                type: object
                properties:
                  data: { $ref: '#/components/schemas/Relation' }
  /relations/{id}:
    parameters:
      - $ref: '#/components/parameters/SiteHeader'
      - { name: id, in: path, required: true, schema: { type: string } }
    delete:
      summary: Delete a relation
      responses:
        '204': { description: Deleted }
  /typegen/schema:
    get:
      summary: Get type generation manifest for the active site
      parameters:
        - $ref: '#/components/parameters/SiteHeader'
        - { name: include, in: query, schema: { type: string }, description: 'Comma-separated collection names to include' }
        - { name: exclude, in: query, schema: { type: string }, description: 'Comma-separated collection names to exclude' }
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      version: { type: integer }
                      site: { type: string }
                      collections:
                        type: array
                        items:
                          type: object
                          properties:
                            name: { type: string }
                            primaryKey: { type: string }
                            fields:
                              type: array
                              items:
                                type: object
                                properties:
                                  name: { type: string }
                                  type: { type: string }
                                  required: { type: boolean }
                                  nullable: { type: boolean }
                                  branded: { type: string }
                                  kind: { type: string, enum: [m2o, o2m, m2m, m2a] }
                                  target: { type: string }
                                  enum: { type: array, items: { type: string } }
  /auth/me:
    get:
      summary: Current authenticated principal for active site
      parameters:
        - $ref: '#/components/parameters/SiteHeader'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema: { $ref: '#/components/schemas/AuthMe' }
        '401':
          description: Unauthenticated
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Error' }
        '400':
          description: Missing tenant header
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Error' }
  /items/{collection}:
    parameters:
      - $ref: '#/components/parameters/SiteHeader'
      - { name: collection, in: path, required: true, schema: { type: string } }
    get:
      summary: List items in a collection
      parameters:
        - { name: fields, in: query, schema: { type: string } }
        - { name: filter, in: query, schema: { type: string }, description: 'JSON filter DSL' }
        - { name: sort, in: query, schema: { type: string } }
        - { name: limit, in: query, schema: { type: integer, minimum: 1, maximum: 200 } }
        - { name: offset, in: query, schema: { type: integer, minimum: 0 } }
        - { name: status, in: query, schema: { type: string } }
      responses:
        '200': { description: OK }
    post:
      summary: Create an item
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [data]
              properties:
                data: { type: object }
                status: { type: string }
                sort: { type: integer }
      responses:
        '201': { description: Created }
  /items/{collection}/bulk:
    parameters:
      - $ref: '#/components/parameters/SiteHeader'
      - { name: collection, in: path, required: true, schema: { type: string } }
    post:
      summary: Bulk operation (create/update/delete) on items
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [op, items]
              properties:
                op: { type: string, enum: [create, update, delete] }
                items:
                  type: array
                  items: { type: object }
      responses:
        '200': { description: OK }
  /items/{collection}/{id}:
    parameters:
      - $ref: '#/components/parameters/SiteHeader'
      - { name: collection, in: path, required: true, schema: { type: string } }
      - { name: id, in: path, required: true, schema: { type: string } }
    get:
      summary: Get an item
      responses: { '200': { description: OK } }
    patch:
      summary: Patch an item (merge data)
      requestBody:
        required: true
        content:
          application/json:
            schema: { type: object }
      responses: { '200': { description: OK } }
    put:
      summary: Replace item data
      requestBody:
        required: true
        content:
          application/json:
            schema: { type: object }
      responses: { '200': { description: OK } }
    delete:
      summary: Soft-delete an item
      responses: { '204': { description: Deleted } }
  /items/{collection}/{id}/revisions:
    parameters:
      - $ref: '#/components/parameters/SiteHeader'
      - { name: collection, in: path, required: true, schema: { type: string } }
      - { name: id, in: path, required: true, schema: { type: string } }
    get:
      summary: List revisions for an item
      responses: { '200': { description: OK } }
  /items/{collection}/{id}/revert/{revisionId}:
    parameters:
      - $ref: '#/components/parameters/SiteHeader'
      - { name: collection, in: path, required: true, schema: { type: string } }
      - { name: id, in: path, required: true, schema: { type: string } }
      - { name: revisionId, in: path, required: true, schema: { type: string } }
    post:
      summary: Revert an item to a previous revision snapshot
      responses: { '200': { description: OK } }
  /utils/render-template:
    post:
      summary: Render a mustache-style display template against a data object
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [template, data]
              properties:
                template: { type: string }
                data: { type: object }
      responses: { '200': { description: OK } }
  /roles:
    parameters: [{ $ref: '#/components/parameters/SiteHeader' }]
    get:
      summary: List roles in the active site
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items: { $ref: '#/components/schemas/Role' }
    post:
      summary: Create a role
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/Role' }
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                type: object
                properties:
                  data: { $ref: '#/components/schemas/Role' }
  /roles/{id}:
    parameters:
      - $ref: '#/components/parameters/SiteHeader'
      - { name: id, in: path, required: true, schema: { type: string } }
    get:
      summary: Get role detail (incl. attached policies + members)
      responses: { '200': { description: OK } }
    patch:
      summary: Update role metadata
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/Role' }
      responses: { '200': { description: OK } }
    delete:
      summary: Delete role
      responses: { '204': { description: Deleted } }
  /roles/{id}/policies:
    parameters:
      - $ref: '#/components/parameters/SiteHeader'
      - { name: id, in: path, required: true, schema: { type: string } }
    post:
      summary: Attach a policy to the role
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [policyId]
              properties:
                policyId: { type: string }
                priority: { type: integer }
      responses: { '201': { description: Attached } }
  /roles/{id}/policies/{policyId}:
    parameters:
      - $ref: '#/components/parameters/SiteHeader'
      - { name: id, in: path, required: true, schema: { type: string } }
      - { name: policyId, in: path, required: true, schema: { type: string } }
    delete:
      summary: Detach a policy from the role
      responses: { '204': { description: Detached } }
  /roles/{id}/users:
    parameters:
      - $ref: '#/components/parameters/SiteHeader'
      - { name: id, in: path, required: true, schema: { type: string } }
    post:
      summary: Assign role to a user
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [userId]
              properties:
                userId: { type: string }
      responses: { '201': { description: Assigned } }
  /roles/{id}/users/{userId}:
    parameters:
      - $ref: '#/components/parameters/SiteHeader'
      - { name: id, in: path, required: true, schema: { type: string } }
      - { name: userId, in: path, required: true, schema: { type: string } }
    delete:
      summary: Remove role from user
      responses: { '204': { description: Removed } }
  /policies:
    parameters: [{ $ref: '#/components/parameters/SiteHeader' }]
    get:
      summary: List policies in the active site
      responses: { '200': { description: OK } }
    post:
      summary: Create a policy
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/Policy' }
      responses: { '201': { description: Created } }
  /policies/{id}:
    parameters:
      - $ref: '#/components/parameters/SiteHeader'
      - { name: id, in: path, required: true, schema: { type: string } }
    get:
      summary: Get policy detail (incl. permission rows)
      responses: { '200': { description: OK } }
    patch:
      summary: Update policy metadata or guardrails
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/Policy' }
      responses: { '200': { description: OK } }
    delete:
      summary: Delete policy
      responses: { '204': { description: Deleted } }
  /policies/{id}/permissions:
    parameters:
      - $ref: '#/components/parameters/SiteHeader'
      - { name: id, in: path, required: true, schema: { type: string } }
    post:
      summary: Add a permission row to the policy
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/PermissionRow' }
      responses: { '201': { description: Created } }
  /policies/{id}/permissions/{permId}:
    parameters:
      - $ref: '#/components/parameters/SiteHeader'
      - { name: id, in: path, required: true, schema: { type: string } }
      - { name: permId, in: path, required: true, schema: { type: string } }
    patch:
      summary: Update a permission row
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/PermissionRow' }
      responses: { '200': { description: OK } }
    delete:
      summary: Delete a permission row
      responses: { '204': { description: Deleted } }
  /policies/{id}/users:
    parameters:
      - $ref: '#/components/parameters/SiteHeader'
      - { name: id, in: path, required: true, schema: { type: string } }
    post:
      summary: Attach policy directly to a user
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [userId]
              properties:
                userId: { type: string }
                priority: { type: integer }
      responses: { '201': { description: Attached } }
  /policies/{id}/users/{userId}:
    parameters:
      - $ref: '#/components/parameters/SiteHeader'
      - { name: id, in: path, required: true, schema: { type: string } }
      - { name: userId, in: path, required: true, schema: { type: string } }
    delete:
      summary: Detach policy from a user
      responses: { '204': { description: Detached } }
  /permissions/me:
    parameters: [{ $ref: '#/components/parameters/SiteHeader' }]
    get:
      summary: Compiled permission bundle for the active principal
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data: { $ref: '#/components/schemas/PermissionBundle' }
  /permissions/check:
    parameters: [{ $ref: '#/components/parameters/SiteHeader' }]
    post:
      summary: Evaluate (collection, action, item) and return the verdict + trace
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [collection, action]
              properties:
                collection: { type: string }
                action: { type: string, enum: [create, read, update, delete, share] }
                item: { type: object, additionalProperties: true }
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data: { $ref: '#/components/schemas/PermissionCheckResult' }
