openapi: 3.1.0
info:
  title: LumiBase CMS API
  version: 0.1.0
  description: |
    Edge-native Headless CMS API. See `docs/api/hono-api-spec.md` for the full
    surface; this file is the machine-readable contract that ships with the
    repo. Endpoints land incrementally — Phase 0 covers auth/health only.

servers:
  - url: https://api.lumibase.dev/api/v1
    description: Production
  - url: http://127.0.0.1:1989/api/v1
    description: Local wrangler dev

security:
  - bearerAuth: []

components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
  parameters:
    SiteHeader:
      name: X-Lumi-Site
      in: header
      required: true
      schema: { type: string }
      description: Active tenant id. Required for every authenticated endpoint.
  schemas:
    Error:
      type: object
      properties:
        errors:
          type: array
          items:
            type: object
            required: [code, message]
            properties:
              code: { type: string }
              message: { type: string }
              path:
                type: array
                items: { type: string }
              trace: { type: object, additionalProperties: true }
    AuthMe:
      type: object
      properties:
        data:
          type: object
          required: [logtoId, siteId, roles]
          properties:
            logtoId: { type: string }
            email: { type: string, format: email, nullable: true }
            roles:
              type: array
              items: { type: string }
            siteId: { type: string }
            permissions:
              nullable: true
              description: Computed permission matrix. Populated in Phase C.
              type: object
              additionalProperties: true
    Health:
      type: object
      properties:
        status: { type: string, enum: [ok] }
        env: { type: string }
        ts: { type: string, format: date-time }
    Version:
      type: object
      properties:
        name: { type: string }
        version: { type: string }
        apiVersion: { type: integer }
        env: { type: string }
    BuildMetadata:
      type: object
      required: [version, gitSha, buildTime, releaseChannel]
      properties:
        version: { type: string }
        gitSha: { type: string }
        buildTime: { type: string }
        releaseChannel: { type: string }
    Collection:
      type: object
      required: [id, siteId, name]
      properties:
        id: { type: string }
        siteId: { type: string }
        name: { type: string, pattern: '^[a-z][a-z0-9_]{0,62}$' }
        label: { type: string, nullable: true }
        pluralLabel: { type: string, nullable: true }
        hidden: { type: boolean }
        system: { type: boolean }
        singleton: { type: boolean }
        icon: { type: string, nullable: true }
        color: { type: string, nullable: true }
        note: { type: string, nullable: true }
        primaryKeyField: { type: string, pattern: '^[a-z][a-z0-9_]{0,62}$' }
        primaryKeyType: { type: string, enum: [nanoid, uuid, integer, bigInteger, string] }
        storageMode: { type: string, enum: [jsonb, materialized, physical, external] }
        displayTemplate: { type: string, nullable: true }
        sortField: { type: string, nullable: true }
        archiveField: { type: string, nullable: true }
        archiveValue: { type: string, nullable: true }
        unarchiveValue: { type: string, nullable: true }
        itemDuplicationFields:
          type: array
          items: { type: string }
        translations: { type: object, additionalProperties: true }
        accountability: { type: string, enum: [all, activity, none] }
        versioning: { type: boolean }
        meta: { type: object, additionalProperties: true }
        systemFields:
          type: array
          items: { $ref: '#/components/schemas/Field' }
        createdAt: { type: string, format: date-time }
        updatedAt: { type: string, format: date-time }
    Field:
      type: object
      required: [id, name, type, interface]
      properties:
        id: { type: string }
        collectionId: { type: string }
        name: { type: string, pattern: '^[a-z][a-z0-9_]{0,62}$' }
        type: { type: string }
        interface: { type: string }
        display: { type: string, nullable: true }
        label: { type: string, nullable: true }
        note: { type: string, nullable: true }
        defaultValue: {}
        nullable: { type: boolean }
        unique: { type: boolean }
        indexed: { type: boolean }
        searchable: { type: boolean }
        length: { type: integer, nullable: true }
        precision: { type: integer, nullable: true }
        scale: { type: integer, nullable: true }
        special:
          type: array
          items: { type: string }
        translations: { type: object, additionalProperties: true }
        options: { type: object, additionalProperties: true }
        displayOptions: { type: object, additionalProperties: true }
        validation: { type: object, additionalProperties: true }
        conditions:
          type: array
          items: { type: object, additionalProperties: true }
        required: { type: boolean }
        readonly: { type: boolean }
        hidden: { type: boolean }
        encrypted: { type: boolean }
        versioned: { type: boolean }
        rawEnabled: { type: boolean }
        width: { type: string, enum: [half, full, fill] }
        group: { type: string, nullable: true }
        sortOrder: { type: integer }
        system: { type: boolean }
        locked: { type: boolean }
        generated: { type: boolean }
        column: { type: string }
        renameFrom: { type: string }
        migrationPlan: { type: object, additionalProperties: true }
        confirmRiskyChange: { type: boolean }
    Relation:
      type: object
      required: [id, siteId, manyCollection, manyField, oneCollection]
      properties:
        id: { type: string }
        siteId: { type: string }
        manyCollection: { type: string }
        manyField: { type: string }
        oneCollection: { type: string }
        oneField: { type: string, nullable: true }
        junctionCollection: { type: string, nullable: true }
        type: { type: string }
        aliasField: { type: string, nullable: true }
        relatedDisplayTemplate: { type: string, nullable: true }
        junctionManyField: { type: string, nullable: true }
        junctionOneField: { type: string, nullable: true }
        sortField: { type: string, nullable: true }
        onDelete: { type: string, enum: [restrict, cascade, set null, no action] }
        meta: { type: object, additionalProperties: true }
    SchemaApplyInput:
      type: object
      properties:
        name: { type: string, pattern: '^[a-z][a-z0-9_]{0,62}$' }
        label: { type: string, nullable: true }
        pluralLabel: { type: string, nullable: true }
        hidden: { type: boolean }
        system: { type: boolean }
        singleton: { type: boolean }
        icon: { type: string, nullable: true }
        color: { type: string, nullable: true }
        note: { type: string, nullable: true }
        primaryKeyField: { type: string, pattern: '^[a-z][a-z0-9_]{0,62}$' }
        primaryKeyType: { type: string, enum: [nanoid, uuid, integer, bigInteger, string] }
        storageMode: { type: string, enum: [jsonb, materialized, physical, external] }
        displayTemplate: { type: string, nullable: true }
        sortField: { type: string, nullable: true }
        archiveField: { type: string, nullable: true }
        archiveValue: { type: string, nullable: true }
        unarchiveValue: { type: string, nullable: true }
        itemDuplicationFields:
          type: array
          items: { type: string }
        translations: { type: object, additionalProperties: true }
        accountability: { type: string, enum: [all, activity, none] }
        versioning: { type: boolean }
        meta: { type: object, additionalProperties: true }
        fields:
          type: array
          items: { $ref: '#/components/schemas/Field' }
        relations:
          type: array
          items: { $ref: '#/components/schemas/Relation' }
    LockoutPolicy:
      type: object
      description: >-
        Login-security lockout policy. Every field is required when the object
        is supplied; omit the whole object at `/setup/complete` to apply the
        built-in "Standard" preset.
      required:
        - userMaxFailedAttempts
        - userLockoutDurationSeconds
        - ipMaxFailedAttempts
        - ipLockoutDurationSeconds
        - lockoutWindowSeconds
        - geoAnomalyEnabled
        - timeAnomalyEnabled
        - deviceAnomalyEnabled
        - anomalyScoreThreshold
        - anomalyAction
        - notifyChannels
        - loginStallMs
      properties:
        userMaxFailedAttempts: { type: integer, minimum: 3, maximum: 20 }
        userLockoutDurationSeconds: { type: integer, minimum: 60, maximum: 86400 }
        ipMaxFailedAttempts: { type: integer, minimum: 5, maximum: 100 }
        ipLockoutDurationSeconds: { type: integer, minimum: 60, maximum: 86400 }
        lockoutWindowSeconds: { type: integer, minimum: 60, maximum: 86400 }
        geoAnomalyEnabled: { type: boolean }
        timeAnomalyEnabled: { type: boolean }
        deviceAnomalyEnabled: { type: boolean }
        anomalyScoreThreshold:
          type: number
          minimum: 0
          maximum: 1
          description: 0..1, stored with up to 2 decimal places.
        anomalyAction: { type: string, enum: [notify_only, require_mfa, lock] }
        notifyChannels:
          type: array
          maxItems: 2
          items: { type: string, enum: [email, webhook] }
        loginStallMs: { type: integer, minimum: 0, maximum: 5000 }
        webhookUrl: { type: string, format: uri, maxLength: 2048 }
        webhookSecret: { type: string, minLength: 1, maxLength: 256 }
    SetupState:
      type: object
      required: [state, requiresSetupToken]
      properties:
        state: { type: string, enum: [uninitialized, initialized] }
        requiresSetupToken: { type: boolean }
    SetupCapabilities:
      type: object
      required: [geoip, smtp]
      properties:
        geoip:
          type: object
          required: [available]
          properties:
            available: { type: boolean }
            source: { type: string, enum: [maxmind] }
        smtp:
          type: object
          required: [available]
          properties:
            available: { type: boolean }
    SetupCompleteInput:
      type: object
      required: [account, adminPath]
      properties:
        setupToken:
          type: string
          minLength: 1
          maxLength: 256
          description: Required only when the instance was provisioned with a setup token.
        account:
          type: object
          required: [email, password, firstName, lastName]
          properties:
            email: { type: string, format: email, maxLength: 254 }
            password:
              type: string
              description: Min 12 chars + complexity (shared with register/recovery).
            firstName: { type: string, minLength: 1, maxLength: 100 }
            lastName: { type: string, minLength: 1, maxLength: 100 }
        adminPath: { type: string, minLength: 1, maxLength: 128 }
        policy:
          allOf: [{ $ref: '#/components/schemas/LockoutPolicy' }]
          description: >-
            OPTIONAL. When omitted, the "Standard" lockout preset is applied.
        project:
          type: object
          required: [defaultLanguage, siteUrl, displayTitle]
          properties:
            defaultLanguage: { type: string, minLength: 2, maxLength: 16 }
            siteUrl: { type: string, format: uri, maxLength: 2048 }
            displayTitle: { type: string, minLength: 2, maxLength: 80 }
            theme: { type: 'null' }
        invites:
          type: array
          maxItems: 20
          items:
            type: object
            required: [email]
            properties:
              email: { type: string, format: email, maxLength: 254 }
              role: { type: string, enum: [admin, member], default: member }
    SetupCompleteResult:
      type: object
      required: [user, adminPath, backupCodes, setupToken, invitedCount]
      properties:
        user:
          type: object
          required: [id, email, firstName, lastName]
          properties:
            id: { type: string }
            email: { type: string }
            firstName: { type: string, nullable: true }
            lastName: { type: string, nullable: true }
        adminPath: { type: string }
        backupCodes:
          type: array
          items: { type: string }
          description: Plaintext recovery codes, returned exactly once and unrecoverable afterwards.
        setupToken:
          type: 'null'
          description: Always null — the setup token is invalidated during completion.
        invitedCount:
          type: integer
          description: Number of teammates created as `status:'invited'` in this run.
    SchemaDiffRisk:
      type: string
      enum: [low, medium, high]
    SchemaRuntimeImpact:
      type: string
      enum:
        - cache_invalidation
        - permission_recompile
        - typegen_rebuild
        - data_migration_required
        - relation_reindex
        - storage_runtime_change
    SchemaDiffEntry:
      type: object
      properties:
        name: { type: string }
        field: { type: string }
        identity: { type: string }
        type: { type: string, enum: [m2o, o2m, m2m, m2a] }
        changes:
          type: array
          items: { type: string }
        risk: { $ref: '#/components/schemas/SchemaDiffRisk' }
        runtimeImpact:
          type: array
          items: { $ref: '#/components/schemas/SchemaRuntimeImpact' }
    SchemaDiff:
      type: object
      properties:
        risk: { $ref: '#/components/schemas/SchemaDiffRisk' }
        runtimeImpact:
          type: array
          items: { $ref: '#/components/schemas/SchemaRuntimeImpact' }
        collection:
          type: object
          properties:
            added: { type: array, items: { type: string } }
            removed: { type: array, items: { type: string } }
            changed:
              type: array
              items: { $ref: '#/components/schemas/SchemaDiffEntry' }
        fields:
          type: object
          properties:
            added:
              type: array
              items: { $ref: '#/components/schemas/SchemaDiffEntry' }
            removed:
              type: array
              items: { $ref: '#/components/schemas/SchemaDiffEntry' }
            changed:
              type: array
              items: { $ref: '#/components/schemas/SchemaDiffEntry' }
        relations:
          type: object
          properties:
            added:
              type: array
              items: { $ref: '#/components/schemas/SchemaDiffEntry' }
            removed:
              type: array
              items: { $ref: '#/components/schemas/SchemaDiffEntry' }
            changed:
              type: array
              items: { $ref: '#/components/schemas/SchemaDiffEntry' }
    SchemaApplyResult:
      type: object
      properties:
        collection: { $ref: '#/components/schemas/Collection' }
        diff: { $ref: '#/components/schemas/SchemaDiff' }
        affectedCollections:
          type: array
          items: { type: string }
        event:
          type: object
          properties:
            type: { type: string, enum: [schema.changed] }
            siteId: { type: string }
            collection: { type: string }
            affectedCollections:
              type: array
              items: { type: string }
            diff: { $ref: '#/components/schemas/SchemaDiff' }
    Role:
      type: object
      required: [id, siteId, name]
      properties:
        id: { type: string }
        siteId: { type: string }
        name: { type: string }
        description: { type: string, nullable: true }
        icon: { type: string, nullable: true }
        adminAccess: { type: boolean }
        appAccess: { type: boolean }
        createdAt: { type: string, format: date-time }
    Policy:
      type: object
      required: [id, siteId, name]
      properties:
        id: { type: string }
        siteId: { type: string }
        name: { type: string }
        description: { type: string, nullable: true }
        rules: { type: object, additionalProperties: true }
        createdAt: { type: string, format: date-time }
    PermissionRow:
      type: object
      required: [id, policyId, collection, action]
      properties:
        id: { type: string }
        siteId: { type: string }
        policyId: { type: string }
        collection: { type: string }
        action: { type: string, enum: [create, read, update, delete, share] }
        permissions: { type: object, additionalProperties: true }
        validation: { type: object, additionalProperties: true }
        presets: { type: object, additionalProperties: true }
        fields:
          type: array
          items: { type: string }
    PermissionBundle:
      type: object
      required: [admin, byKey, roles]
      properties:
        admin: { type: boolean }
        byKey:
          type: object
          additionalProperties: { type: object, additionalProperties: true }
        roles:
          type: array
          items:
            type: object
            properties:
              id: { type: string }
              name: { type: string }
              adminAccess: { type: boolean }
              appAccess: { type: boolean }
    PermissionCheckResult:
      type: object
      required: [allowed, fields]
      properties:
        allowed: { type: boolean }
        reason: { type: string, nullable: true }
        fields:
          type: array
          items: { type: string }
        rule: { type: object, nullable: true, additionalProperties: true }
        presets: { type: object, additionalProperties: true }
    # --- Access Conflict Check ---
    AccessConflictCheckRequest:
      type: object
      required: [target]
      properties:
        target:
          type: object
          required: [type, id]
          properties:
            type: { type: string, enum: [role, user, api_key] }
            id: { type: string, minLength: 1 }
        addPolicies:
          type: array
          items: { type: string }
          default: []
        removePolicies:
          type: array
          items: { type: string }
          default: []
    AccessConflict:
      type: object
      required: [severity, collection, action, existingPolicy, incomingPolicy, reason]
      properties:
        severity: { type: string, enum: [warning, blocking] }
        collection: { type: string }
        action: { type: string }
        existingPolicy: { type: string }
        incomingPolicy: { type: string }
        reason: { type: string }
    AccessConflictReport:
      type: object
      required: [ok, conflicts, warnings]
      properties:
        ok: { type: boolean }
        conflicts:
          type: array
          items: { $ref: '#/components/schemas/AccessConflict' }
        warnings:
          type: array
          items: { $ref: '#/components/schemas/AccessConflict' }
    AccessExportManifest:
      type: object
      required: [schema, exportedAt, roles, policies, bindings, apiKeys]
      properties:
        schema: { type: string, const: lumibase.access@v1 }
        exportedAt: { type: string, format: date-time }
        roles:
          type: array
          items: { type: object, additionalProperties: true }
        policies:
          type: array
          items: { type: object, additionalProperties: true }
        bindings:
          type: object
          additionalProperties: true
        apiKeys:
          type: array
          items: { type: object, additionalProperties: true }
    AccessImportResult:
      type: object
      required: [dryRun, valid, errors, diff, conflicts]
      properties:
        dryRun: { type: boolean }
        valid: { type: boolean }
        errors:
          type: array
          items:
            type: object
            properties:
              code: { type: string }
              message: { type: string }
              path: { type: string, nullable: true }
        diff: { type: object, additionalProperties: true }
        conflicts: { $ref: '#/components/schemas/AccessConflictReport' }
        mode: { type: string, enum: [merge, replace-managed, replace-all], nullable: true }
        applied: { type: boolean, nullable: true }
        audit:
          type: object
          nullable: true
          additionalProperties: true
    ApiKeyResource:
      type: object
      required: [id, siteId, name, prefix, revokedAt, roles, policies]
      properties:
        id: { type: string }
        siteId: { type: string }
        name: { type: string }
        description: { type: string, nullable: true }
        prefix: { type: string }
        createdBy: { type: string, nullable: true }
        rotatedAt: { type: string, format: date-time, nullable: true }
        rotatedBy: { type: string, nullable: true }
        expiresAt: { type: string, format: date-time, nullable: true }
        revokedAt: { type: string, format: date-time, nullable: true }
        revokedBy: { type: string, nullable: true }
        lastUsedAt: { type: string, format: date-time, nullable: true }
        lastUsedIp: { type: string, nullable: true }
        lastUsedUserAgent: { type: string, nullable: true }
        metadata: { type: object, additionalProperties: true }
        createdAt: { type: string, format: date-time }
        roles:
          type: array
          items: { $ref: '#/components/schemas/ApiKeyRoleAttachment' }
        policies:
          type: array
          items: { $ref: '#/components/schemas/ApiKeyPolicyAttachment' }
    ApiKeySecretResult:
      allOf:
        - $ref: '#/components/schemas/ApiKeyResource'
        - type: object
          required: [token]
          properties:
            token:
              type: string
              description: Plaintext token returned only on create/rotate.
    ApiKeyCreateRequest:
      type: object
      required: [name]
      properties:
        name: { type: string, minLength: 1, maxLength: 96 }
        description: { type: string, maxLength: 512 }
        expiresAt: { type: string, format: date-time, nullable: true }
        metadata: { type: object, additionalProperties: true }
    ApiKeyRotateRequest:
      type: object
      properties:
        expiresAt: { type: string, format: date-time, nullable: true }
    ApiKeyRoleAttachment:
      type: object
      required: [apiKeyId, siteId, roleId, priority]
      properties:
        apiKeyId: { type: string }
        siteId: { type: string }
        roleId: { type: string }
        priority: { type: integer }
        createdAt: { type: string, format: date-time }
    ApiKeyPolicyAttachment:
      type: object
      required: [apiKeyId, siteId, policyId, priority]
      properties:
        apiKeyId: { type: string }
        siteId: { type: string }
        policyId: { type: string }
        priority: { type: integer }
        createdAt: { type: string, format: date-time }
    ApiKeyAttachRoleRequest:
      type: object
      required: [roleId]
      properties:
        roleId: { type: string, minLength: 1 }
        priority: { type: integer }
        overrideWarnings: { type: boolean }
    ApiKeyAttachPolicyRequest:
      type: object
      required: [policyId]
      properties:
        policyId: { type: string, minLength: 1 }
        priority: { type: integer }
        overrideWarnings: { type: boolean }
    ShareResource:
      type: object
      required: [id, siteId, collection, itemId, roleId, usedCount]
      properties:
        id: { type: string }
        siteId: { type: string }
        collection: { type: string }
        itemId: { type: string }
        roleId: { type: string }
        validFrom: { type: string, format: date-time, nullable: true }
        validUntil: { type: string, format: date-time, nullable: true }
        maxUses: { type: integer, nullable: true }
        usedCount: { type: integer }
        revokedAt: { type: string, format: date-time, nullable: true }
        revokedBy: { type: string, nullable: true }
        createdBy: { type: string, nullable: true }
        lastUsedAt: { type: string, format: date-time, nullable: true }
        createdAt: { type: string, format: date-time }
    ShareSecretResult:
      allOf:
        - $ref: '#/components/schemas/ShareResource'
        - type: object
          required: [token, url]
          properties:
            token:
              type: string
              description: Plaintext share token returned only on create.
            url: { type: string }
    ShareCreateRequest:
      type: object
      required: [collection, itemId, roleId]
      properties:
        collection: { type: string, minLength: 1 }
        itemId: { type: string, minLength: 1 }
        roleId: { type: string, minLength: 1 }
        password: { type: string, minLength: 1 }
        validFrom: { type: string, format: date-time, nullable: true }
        validUntil: { type: string, format: date-time, nullable: true }
        maxUses: { type: integer, minimum: 1, nullable: true }
    # --- AI (POST-GA1) ---
    AIChatResponse:
      type: object
      properties:
        status: { type: string, enum: [executed, pending_approval, denied] }
        message: { type: string }
        conversationId: { type: string }
        pendingId: { type: string, nullable: true }
        result: { type: object, additionalProperties: true, nullable: true }
    AIConversation:
      type: object
      properties:
        id: { type: string }
        siteId: { type: string }
        userId: { type: string, nullable: true }
        title: { type: string }
        createdAt: { type: string, format: date-time }
        updatedAt: { type: string, format: date-time }
    AIMessage:
      type: object
      properties:
        id: { type: string }
        conversationId: { type: string }
        role: { type: string, enum: [user, assistant, system] }
        content: { type: string }
        toolCalls:
          type: array
          nullable: true
          items: { type: object, additionalProperties: true }
        metadata: { type: object, additionalProperties: true, nullable: true }
        createdAt: { type: string, format: date-time }
    AIApproval:
      type: object
      properties:
        id: { type: string }
        siteId: { type: string }
        userId: { type: string, nullable: true }
        conversationId: { type: string, nullable: true }
        toolName: { type: string }
        toolArgs: { type: object, additionalProperties: true }
        status: { type: string, enum: [pending, approved, rejected] }
        decidedBy: { type: string, nullable: true }
        decidedAt: { type: string, format: date-time, nullable: true }
        createdAt: { type: string, format: date-time }
    AgentGoal:
      type: object
      properties:
        id: { type: string }
        siteId: { type: string }
        title: { type: string }
        description: { type: string, nullable: true }
        source: { type: string }
        assigneeAgent: { type: string }
        priority: { type: string }
        status: { type: string }
        successCriteria: { type: object, additionalProperties: true }
        metadata: { type: object, additionalProperties: true }
        createdAt: { type: string, format: date-time }
        updatedAt: { type: string, format: date-time }
    AgentRun:
      type: object
      properties:
        id: { type: string }
        goalId: { type: string }
        siteId: { type: string }
        agentName: { type: string }
        provider: { type: string }
        model: { type: string }
        status: { type: string }
        budget: { type: object, additionalProperties: true }
        risk: { type: string, enum: [safe, review_required, dangerous, blocked] }
        metrics: { type: object, additionalProperties: true }
        error: { type: string, nullable: true }
        createdAt: { type: string, format: date-time }
        updatedAt: { type: string, format: date-time }
    AgentTool:
      type: object
      properties:
        name: { type: string }
        description: { type: string }
        requiredCapabilities:
          type: array
          items: { type: string }
        service: { type: string, enum: [schema, items, ai] }
        inputSchema: { type: object, additionalProperties: true }
        outputSchema: { type: object, additionalProperties: true }
        riskPolicy: { type: object, additionalProperties: true }
        rateLimit: { type: object, additionalProperties: true }
        enabled: { type: boolean }
        owner: { type: string }
    AgentApproval:
      type: object
      properties:
        id: { type: string }
        runId: { type: string }
        siteId: { type: string }
        legacyApprovalId: { type: string, nullable: true }
        subjectType: { type: string, enum: [plan, tool_call, artifact, schema_diff] }
        subjectId: { type: string }
        status: { type: string, enum: [pending, approved, rejected] }
        approvalPolicy: { type: string }
        requestedByAgent: { type: string }
        decisionReason: { type: string, nullable: true }
        createdAt: { type: string, format: date-time }
        decidedAt: { type: string, format: date-time, nullable: true }
    AgentArtifact:
      type: object
      properties:
        id: { type: string }
        runId: { type: string }
        siteId: { type: string }
        type: { type: string, enum: [schema_diff, page_spec, component_spec, seed_data, api_spec, prompt, migration] }
        target: { type: string, nullable: true }
        title: { type: string }
        contentRef: { type: string, nullable: true }
        content: { type: object, additionalProperties: true }
        hash: { type: string }
        version: { type: integer }
        status: { type: string }
        metadata: { type: object, additionalProperties: true }
        createdAt: { type: string, format: date-time }
        updatedAt: { type: string, format: date-time }
    AgentEvaluation:
      type: object
      properties:
        id: { type: string }
        runId: { type: string }
        siteId: { type: string }
        artifactId: { type: string, nullable: true }
        kind: { type: string }
        status: { type: string, enum: [pass, warn, fail] }
        score: { type: integer, nullable: true }
        summary: { type: string }
        details: { type: object, additionalProperties: true }
        artifactHash: { type: string, nullable: true }
        createdAt: { type: string, format: date-time }
    AgentMemoryContext:
      type: object
      properties:
        siteId: { type: string }
        memories:
          type: array
          items: { type: object, additionalProperties: true }
        recentRuns:
          type: array
          items: { $ref: '#/components/schemas/AgentRun' }
        approvedArtifacts:
          type: array
          items: { $ref: '#/components/schemas/AgentArtifact' }
    # --- Flows (POST-GA2) ---
    FlowGraph:
      type: object
      properties:
        entry: { type: string, nullable: true }
        nodes:
          type: array
          items:
            type: object
            required: [id, key]
            properties:
              id: { type: string }
              key: { type: string }
              options: { type: object, additionalProperties: true }
              next: { type: string, nullable: true }
              onError: { type: string, nullable: true }
    FlowResource:
      type: object
      required: [name, triggerType]
      properties:
        id: { type: string }
        siteId: { type: string }
        name: { type: string }
        description: { type: string, nullable: true }
        status: { type: string, enum: [active, inactive, draft], default: draft }
        triggerType: { type: string, enum: [webhook, event, schedule, manual] }
        triggerOptions: { type: object, additionalProperties: true }
        graph: { $ref: '#/components/schemas/FlowGraph' }
        createdAt: { type: string, format: date-time }
        updatedAt: { type: string, format: date-time }
    FlowRun:
      type: object
      properties:
        id: { type: string }
        flowId: { type: string }
        siteId: { type: string }
        status: { type: string, enum: [running, success, error] }
        input: { type: object, additionalProperties: true }
        steps:
          type: array
          items: { type: object, additionalProperties: true }
        error: { type: string, nullable: true }
        startedAt: { type: string, format: date-time }
        finishedAt: { type: string, format: date-time, nullable: true }
    FlowRunResult:
      type: object
      properties:
        runId: { type: string }
        status: { type: string, enum: [success, error] }
        steps:
          type: array
          items: { type: object, additionalProperties: true }
        error: { type: string, nullable: true }
    # --- Marketplace (POST-GA3) ---
    MarketplaceExtension:
      type: object
      required: [id, slug, marketplaceSlug, name, version, latestVersion, type]
      properties:
        id: { type: string }
        slug: { type: string }
        marketplaceSlug: { type: string }
        name: { type: string }
        description: { type: string }
        readme: { type: string }
        category: { type: string }
        tags:
          type: array
          items: { type: string }
        publisherName: { type: string }
        publisher: { type: string }
        latestVersion: { type: string }
        version: { type: string }
        type: { type: string }
        totalDownloads: { type: integer, default: 0 }
        rating: { type: number, nullable: true }
        ratingCount: { type: integer, nullable: true }
        versions:
          type: array
          items:
            type: object
            properties:
              id: { type: string }
              version: { type: string }
              publishedAt: { type: string, format: date-time, nullable: true }
              sha256: { type: string, nullable: true }
        bundleUrl: { type: string, format: uri }
        bundleSha256: { type: string, nullable: true }
        signature: { type: string, nullable: true, description: 'Base64-encoded detached signature' }
        signatureAlg: { type: string, nullable: true, enum: [ed25519, rsa-pss-sha256] }
        publisherKeyId: { type: string, nullable: true }
        manifest: { type: object, additionalProperties: true }
        publishedAt: { type: string, format: date-time, nullable: true }
        updatedAt: { type: string, format: date-time, nullable: true }
        repositoryUrl: { type: string, format: uri, nullable: true }
        documentationUrl: { type: string, format: uri, nullable: true }
        licenseType: { type: string, nullable: true }
    # --- Materialized Collections (POST-GA4) ---
    MaterializedCollection:
      type: object
      required: [id, siteId, collection, target]
      properties:
        id: { type: string }
        siteId: { type: string }
        collection: { type: string }
        target: { type: string }
        refreshStrategy: { type: string, enum: [auto, cron, manual] }
        refreshCron: { type: string, nullable: true }
        projection:
          type: object
          properties:
            fields: { type: array, items: { type: string } }
            orderBy: { type: string, nullable: true }
        filter: { type: object, additionalProperties: true }
        lastRefreshedAt: { type: string, format: date-time, nullable: true }
        rowCount: { type: integer, nullable: true }
        createdAt: { type: string, format: date-time }
        updatedAt: { type: string, format: date-time }
    # --- SCIM Tokens (POST-GA5) ---
    SCIMTokenMeta:
      type: object
      properties:
        id: { type: string }
        label: { type: string }
        createdBy: { type: string }
        expiresAt: { type: string, format: date-time, nullable: true }
        lastUsedAt: { type: string, format: date-time, nullable: true }
        createdAt: { type: string, format: date-time }
    SCIMTokenCreated:
      allOf:
        - $ref: '#/components/schemas/SCIMTokenMeta'
        - type: object
          properties:
            token:
              type: string
              description: Raw SCIM token — shown exactly once, not stored in plaintext
    SCIMTokenRotated:
      allOf:
        - $ref: '#/components/schemas/SCIMTokenCreated'
        - type: object
          properties:
            oldTokenGraceExpiresAt:
              type: string
              format: date-time
              description: Old token remains valid until this time (24h grace period)
    # --- CDC (ClickHouse CDC) ---
    CdcConnectorType:
      type: string
      enum: [debezium_kafka, materialized_engine, airbyte]
    CdcDeploymentTarget:
      type: string
      enum: [docker_compose, cloudflare_workers]
    CdcPipeline:
      type: object
      required: [id, siteId, pipelineName, connectorType, status, replicationTables, config, createdAt, updatedAt]
      properties:
        id: { type: string }
        siteId: { type: string }
        pipelineName: { type: string }
        connectorType: { $ref: '#/components/schemas/CdcConnectorType' }
        status: { type: string, enum: [active, paused, error, provisioning] }
        statusMessage: { type: string, nullable: true }
        replicationTables:
          type: array
          items: { type: string }
        config: { type: object, additionalProperties: true }
        lastSyncAt: { type: string, format: date-time, nullable: true }
        lastSyncRecordCount: { type: integer, nullable: true }
        createdAt: { type: string, format: date-time }
        updatedAt: { type: string, format: date-time }
      description: Connection strings are write-only and are never returned.
    CdcPipelineCreate:
      type: object
      required: [pipeline_name, cdc_connector_type, source_database_connection, clickhouse_sink_connection, replication_tables]
      properties:
        pipeline_name: { type: string, minLength: 1, maxLength: 128 }
        cdc_connector_type: { $ref: '#/components/schemas/CdcConnectorType' }
        source_database_connection: { type: string, minLength: 1, writeOnly: true }
        clickhouse_sink_connection: { type: string, minLength: 1, writeOnly: true }
        intermediary_connection: { type: string, minLength: 1, writeOnly: true }
        replication_tables:
          type: array
          minItems: 1
          items: { type: string, minLength: 1 }
        config: { type: object, additionalProperties: true }
    CdcPipelinePatch:
      type: object
      properties:
        pipeline_name: { type: string, minLength: 1, maxLength: 128 }
        source_database_connection: { type: string, minLength: 1, writeOnly: true }
        clickhouse_sink_connection: { type: string, minLength: 1, writeOnly: true }
        intermediary_connection: { type: string, minLength: 1, nullable: true, writeOnly: true }
        replication_tables:
          type: array
          minItems: 1
          items: { type: string, minLength: 1 }
        config: { type: object, additionalProperties: true }
    CdcHealthCheck:
      type: object
      properties:
        healthy: { type: boolean }
        latencyMs: { type: number }
        error: { type: string }
        details: { type: object, additionalProperties: true }
    CdcPipelineMetrics:
      type: object
      properties:
        pipelineId: { type: string }
        replicationLagMs: { type: integer }
        eventsPerSecond: { type: integer }
        errorCount: { type: integer }
        lastEventAt: { type: string, format: date-time, nullable: true }
        status: { type: string }
    CdcHealthMetricEntry:
      type: object
      properties:
        pipelineId: { type: string }
        replicationLagMs: { type: integer }
        eventsPerSecond: { type: integer }
        errorCount: { type: integer }
        recordedAt: { type: string, format: date-time }
    CdcDeployRequest:
      type: object
      required: [approach, target]
      properties:
        approach: { $ref: '#/components/schemas/CdcConnectorType' }
        target: { $ref: '#/components/schemas/CdcDeploymentTarget' }
        pipeline_id: { type: string }
        env:
          type: object
          additionalProperties: { type: string }
    CdcValidateEnvRequest:
      type: object
      required: [approach, target, env]
      properties:
        approach: { $ref: '#/components/schemas/CdcConnectorType' }
        target: { $ref: '#/components/schemas/CdcDeploymentTarget' }
        env:
          type: object
          additionalProperties: { type: string }
    CdcEnvValidationResult:
      type: object
      properties:
        valid: { type: boolean }
        invalidFields:
          type: array
          items:
            type: object
            properties:
              key: { type: string }
              reason: { type: string }
    CdcDeploymentResult:
      type: object
      properties:
        deploymentId: { type: string }
        status: { type: string, enum: [pending, running, completed, failed, rolled_back] }
        steps:
          type: array
          items: { type: object, additionalProperties: true }
        completedAt: { type: string, format: date-time }
        error: { type: object, additionalProperties: true, nullable: true }
    DeploymentTarget:
      type: object
      description: A configured connection to one project on one provider. The provider token is never returned.
      properties:
        id: { type: string }
        provider: { type: string, enum: [vercel, netlify] }
        name: { type: string }
        projectId: { type: string }
        defaultBranch: { type: string, nullable: true }
        productionUrl: { type: string, nullable: true }
        status: { type: string }
        createdAt: { type: string, format: date-time }
        updatedAt: { type: string, format: date-time }
    DeploymentTargetCreate:
      type: object
      required: [provider, name, projectId, token]
      properties:
        provider: { type: string, enum: [vercel, netlify] }
        name: { type: string }
        projectId: { type: string }
        token: { type: string, description: Provider API token. Write-only; stored encrypted via the runtime KeyProvider and never returned. }
        defaultBranch: { type: string, nullable: true }
        productionUrl: { type: string, nullable: true }
    Deployment:
      type: object
      description: One build/deploy run on a provider, with a LumiBase-normalized status.
      properties:
        id: { type: string }
        siteId: { type: string }
        targetId: { type: string }
        provider: { type: string }
        providerDeploymentId: { type: string, nullable: true }
        status: { type: string, enum: [queued, building, ready, error, canceled] }
        branch: { type: string, nullable: true }
        commitSha: { type: string, nullable: true }
        commitMessage: { type: string, nullable: true }
        url: { type: string, nullable: true }
        triggeredBy: { type: string, nullable: true }
        triggerSource: { type: string, enum: [manual, auto, agent] }
        errorMessage: { type: string, nullable: true }
        logExcerpt: { type: string, nullable: true }
        createdAt: { type: string, format: date-time }
        updatedAt: { type: string, format: date-time }
        completedAt: { type: string, format: date-time, nullable: true }


paths:
  /utils/health:
    get:
      summary: Liveness probe
      security: []
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Health' }
  /utils/version:
    get:
      summary: API + runtime version
      security: []
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Version' }
  /system/version:
    get:
      summary: Build and release metadata
      security: []
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema: { $ref: '#/components/schemas/BuildMetadata' }
  /collections:
    get:
      summary: List collections in the active site
      parameters: [{ $ref: '#/components/parameters/SiteHeader' }]
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items: { $ref: '#/components/schemas/Collection' }
    post:
      summary: Create a collection
      parameters: [{ $ref: '#/components/parameters/SiteHeader' }]
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/Collection' }
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                type: object
                properties:
                  data: { $ref: '#/components/schemas/Collection' }
        '409':
          description: Collection already exists
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Error' }
  /collections/{name}:
    parameters:
      - $ref: '#/components/parameters/SiteHeader'
      - name: name
        in: path
        required: true
        schema: { type: string }
    get:
      summary: Get collection by name
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data: { $ref: '#/components/schemas/Collection' }
    patch:
      summary: Update collection metadata
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/Collection' }
      responses:
        '200':
          description: OK
    delete:
      summary: Delete collection (rejected when relations reference it)
      responses:
        '204': { description: Deleted }
  /collections/{name}/fields:
    parameters:
      - $ref: '#/components/parameters/SiteHeader'
      - name: name
        in: path
        required: true
        schema: { type: string }
    get:
      summary: List fields of a collection
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items: { $ref: '#/components/schemas/Field' }
  /collections/{name}/fields/{field}:
    parameters:
      - $ref: '#/components/parameters/SiteHeader'
      - { name: name, in: path, required: true, schema: { type: string } }
      - { name: field, in: path, required: true, schema: { type: string } }
    put:
      summary: Upsert a field (idempotent by name)
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/Field' }
      responses:
        '200':
          description: OK
    delete:
      summary: Delete a field
      responses:
        '204': { description: Deleted }
  /collections/diff:
    post:
      summary: Diff a proposed schema against the current collection
      parameters: [{ $ref: '#/components/parameters/SiteHeader' }]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              allOf:
                - $ref: '#/components/schemas/SchemaApplyInput'
                - type: object
                  required: [name]
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data: { $ref: '#/components/schemas/SchemaDiff' }
  /collections/{name}/schema:
    parameters:
      - $ref: '#/components/parameters/SiteHeader'
      - { name: name, in: path, required: true, schema: { type: string } }
    put:
      summary: Apply a full schema to a collection (creates it if missing)
      description: >-
        Atomic full-schema apply. If the collection named in the path does not
        exist yet it is created in the same transaction (site-scoped, honouring
        the collection name and primary-key/storage-mode compatibility rules)
        and the provided fields/relations are applied to the fresh collection.
        If it already exists, its fields and relations are reconciled to match
        the request. Returns `200` in both cases. Requires the `schema:migrate`
        capability.
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/SchemaApplyInput' }
      responses:
        '200':
          description: Schema applied (collection created or updated)
          content:
            application/json:
              schema:
                type: object
                properties:
                  data: { $ref: '#/components/schemas/SchemaApplyResult' }
        '400':
          description: Validation error or unsupported change (e.g. collection rename)
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Error' }
        '403':
          description: Missing `schema:migrate` capability
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Error' }
        '422':
          description: Reserved collection name (e.g. `lumibase_`/`mat_` prefix)
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Error' }
  /collections/{name}/compiled:
    parameters:
      - $ref: '#/components/parameters/SiteHeader'
      - { name: name, in: path, required: true, schema: { type: string } }
    get:
      summary: Get the cached compiled schema for ItemService
      responses:
        '200':
          description: OK
  /relations:
    get:
      summary: List relations in the active site
      parameters: [{ $ref: '#/components/parameters/SiteHeader' }]
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items: { $ref: '#/components/schemas/Relation' }
    post:
      summary: Create a relation
      parameters: [{ $ref: '#/components/parameters/SiteHeader' }]
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/Relation' }
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                type: object
                properties:
                  data: { $ref: '#/components/schemas/Relation' }
  /relations/{id}:
    parameters:
      - $ref: '#/components/parameters/SiteHeader'
      - { name: id, in: path, required: true, schema: { type: string } }
    delete:
      summary: Delete a relation
      responses:
        '204': { description: Deleted }
  /typegen/schema:
    get:
      summary: Get type generation manifest for the active site
      parameters:
        - $ref: '#/components/parameters/SiteHeader'
        - { name: include, in: query, schema: { type: string }, description: 'Comma-separated collection names to include' }
        - { name: exclude, in: query, schema: { type: string }, description: 'Comma-separated collection names to exclude' }
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      version: { type: integer }
                      site: { type: string }
                      collections:
                        type: array
                        items:
                          type: object
                          properties:
                            name: { type: string }
                            primaryKey: { type: string }
                            primaryKeyField: { type: string }
                            primaryKeyType: { type: string, enum: [nanoid, uuid, integer, bigInteger, string] }
                            fields:
                              type: array
                              items:
                                type: object
                                properties:
                                  name: { type: string }
                                  type: { type: string }
                                  required: { type: boolean }
                                  nullable: { type: boolean }
                                  readonly: { type: boolean }
                                  generated: { type: boolean }
                                  system: { type: boolean }
                                  encrypted: { type: boolean }
                                  primaryKey: { type: boolean }
                                  branded: { type: string }
                                  kind: { type: string, enum: [m2o, o2m, m2m, m2a] }
                                  target: { type: string }
                                  enum: { type: array, items: { type: string } }
                            relations:
                              type: array
                              items:
                                type: object
                                properties:
                                  field: { type: string }
                                  kind: { type: string, enum: [m2o, o2m, m2m, m2a] }
                                  target: { type: string }
                                  manyCollection: { type: string }
                                  manyField: { type: string }
                                  oneCollection: { type: string }
                                  oneField: { type: string, nullable: true }
                                  junctionCollection: { type: string, nullable: true }
  /auth/me:
    get:
      summary: Current authenticated principal for active site
      parameters:
        - $ref: '#/components/parameters/SiteHeader'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema: { $ref: '#/components/schemas/AuthMe' }
        '401':
          description: Unauthenticated
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Error' }
        '400':
          description: Missing tenant header
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Error' }
  /setup/state:
    get:
      summary: First-run setup state
      description: >-
        Public, unauthenticated. Returns whether the instance still needs
        first-run setup. Once setup is complete every `/setup/*` path responds
        `404` indistinguishably, so a `200` here implies the instance is not yet
        initialized. IP rate-limited (`429` with `retry-after` when exceeded).
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema: { $ref: '#/components/schemas/SetupState' }
        '429':
          description: Rate limited
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Error' }
  /setup/capabilities:
    get:
      summary: Setup environment capabilities
      description: >-
        Reports which optional integrations are available to the setup wizard
        (GeoIP database, SMTP). Returns `404` once the instance is initialized.
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema: { $ref: '#/components/schemas/SetupCapabilities' }
        '404':
          description: Instance already initialized
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Error' }
  /setup/complete:
    post:
      summary: Complete first-run setup (create the bootstrap admin)
      description: >-
        Public, unauthenticated, single-use. Creates the bootstrap administrator
        (granted an `Administrator` role bound via `user_roles`), the default
        site, baseline settings, and the login-security policy — all in one
        transaction. The `policy` field is OPTIONAL: when omitted, the "Standard"
        lockout preset is applied. Returns backup codes exactly once in the
        `201` body; they are unrecoverable afterwards. Any subsequent call once
        initialized responds with a setup error.
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/SetupCompleteInput' }
      responses:
        '201':
          description: Setup completed
          content:
            application/json:
              schema: { $ref: '#/components/schemas/SetupCompleteResult' }
        '400':
          description: Malformed JSON or validation error
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Error' }
        '409':
          description: Already initialized or setup already in progress
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Error' }
        '422':
          description: Admin path predictable/reserved/taken, or invalid token
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Error' }
  /cdc/pipelines:
    parameters:
      - $ref: '#/components/parameters/SiteHeader'
    get:
      summary: List CDC pipelines for the active site
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      pipelines:
                        type: array
                        items: { $ref: '#/components/schemas/CdcPipeline' }
        '403':
          description: Admin role required
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Error' }
    post:
      summary: Create a CDC pipeline
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/CdcPipelineCreate' }
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                type: object
                properties:
                  data: { $ref: '#/components/schemas/CdcPipeline' }
        '400':
          description: Validation or connectivity failure
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Error' }
        '403':
          description: Admin role required or pipeline limit exceeded
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Error' }
        '409':
          description: Pipeline name already exists
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Error' }
  /cdc/pipelines/{id}:
    parameters:
      - $ref: '#/components/parameters/SiteHeader'
      - { name: id, in: path, required: true, schema: { type: string } }
    get:
      summary: Get CDC pipeline details
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data: { $ref: '#/components/schemas/CdcPipeline' }
        '404':
          description: Pipeline not found
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Error' }
    patch:
      summary: Update CDC pipeline configuration
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/CdcPipelinePatch' }
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data: { $ref: '#/components/schemas/CdcPipeline' }
        '400':
          description: Validation or connectivity failure
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Error' }
        '404':
          description: Pipeline not found
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Error' }
        '409':
          description: Pipeline name conflict
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Error' }
    delete:
      summary: Delete a CDC pipeline and release replication resources
      responses:
        '200':
          description: Deleted
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      deleted: { type: boolean }
                      id: { type: string }
        '404':
          description: Pipeline not found
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Error' }
        '409':
          description: Replication slot cleanup failed
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Error' }
  /cdc/pipelines/{id}/start:
    parameters:
      - $ref: '#/components/parameters/SiteHeader'
      - { name: id, in: path, required: true, schema: { type: string } }
    post:
      summary: Start CDC replication for a pipeline
      responses:
        '200':
          description: Started
          content:
            application/json:
              schema:
                type: object
                properties:
                  data: { $ref: '#/components/schemas/CdcPipeline' }
        '404':
          description: Pipeline not found
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Error' }
        '503':
          description: Connector unavailable
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Error' }
  /cdc/pipelines/{id}/stop:
    parameters:
      - $ref: '#/components/parameters/SiteHeader'
      - { name: id, in: path, required: true, schema: { type: string } }
    post:
      summary: Stop CDC replication for a pipeline
      responses:
        '200':
          description: Stopped
          content:
            application/json:
              schema:
                type: object
                properties:
                  data: { $ref: '#/components/schemas/CdcPipeline' }
        '404':
          description: Pipeline not found
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Error' }
        '503':
          description: Connector unavailable
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Error' }
  /cdc/pipelines/{id}/health:
    parameters:
      - $ref: '#/components/parameters/SiteHeader'
      - { name: id, in: path, required: true, schema: { type: string } }
    get:
      summary: Run a CDC pipeline connectivity health check
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data: { $ref: '#/components/schemas/CdcHealthCheck' }
        '404':
          description: Pipeline not found
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Error' }
        '502':
          description: Connector error
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Error' }
  /cdc/pipelines/{id}/metrics:
    parameters:
      - $ref: '#/components/parameters/SiteHeader'
      - { name: id, in: path, required: true, schema: { type: string } }
    get:
      summary: Get current CDC pipeline metrics
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data: { $ref: '#/components/schemas/CdcPipelineMetrics' }
        '404':
          description: Pipeline not found
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Error' }
        '502':
          description: Connector error
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Error' }
  /cdc/pipelines/{id}/metrics/history:
    parameters:
      - $ref: '#/components/parameters/SiteHeader'
      - { name: id, in: path, required: true, schema: { type: string } }
      - { name: since, in: query, schema: { type: string, format: date-time } }
    get:
      summary: Get CDC pipeline metric history
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      history:
                        type: array
                        items: { $ref: '#/components/schemas/CdcHealthMetricEntry' }
                      since: { type: string, format: date-time }
        '400':
          description: Invalid since query parameter
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Error' }
        '404':
          description: Pipeline not found
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Error' }
  /cdc/deploy:
    parameters:
      - $ref: '#/components/parameters/SiteHeader'
    post:
      summary: Trigger a CDC deployment flow
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/CdcDeployRequest' }
      responses:
        '201':
          description: Deployment created
          content:
            application/json:
              schema:
                type: object
                properties:
                  data: { $ref: '#/components/schemas/CdcDeploymentResult' }
        '400':
          description: Validation failure
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Error' }
  /cdc/deploy/validate-env:
    parameters:
      - $ref: '#/components/parameters/SiteHeader'
    post:
      summary: Validate CDC deployment environment variables
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/CdcValidateEnvRequest' }
      responses:
        '200':
          description: Validation result
          content:
            application/json:
              schema:
                type: object
                properties:
                  data: { $ref: '#/components/schemas/CdcEnvValidationResult' }
        '400':
          description: Invalid request body
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Error' }
  /cdc/deploy/{id}/rollback:
    parameters:
      - $ref: '#/components/parameters/SiteHeader'
      - { name: id, in: path, required: true, schema: { type: string } }
    post:
      summary: Roll back a CDC deployment
      responses:
        '200':
          description: Rollback result
          content:
            application/json:
              schema:
                type: object
                properties:
                  data: { $ref: '#/components/schemas/CdcDeploymentResult' }
        '404':
          description: Deployment not found
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Error' }
  /items/{collection}:
    parameters:
      - $ref: '#/components/parameters/SiteHeader'
      - { name: collection, in: path, required: true, schema: { type: string } }
    get:
      summary: List items in a collection
      parameters:
        - { name: fields, in: query, schema: { type: string } }
        - { name: filter, in: query, schema: { type: string }, description: 'JSON filter DSL' }
        - { name: sort, in: query, schema: { type: string } }
        - { name: limit, in: query, schema: { type: integer, minimum: 1, maximum: 200 } }
        - { name: offset, in: query, schema: { type: integer, minimum: 0 } }
        - { name: status, in: query, schema: { type: string } }
      responses:
        '200': { description: OK }
    post:
      summary: Create an item
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [data]
              properties:
                data: { type: object }
                status: { type: string }
                sort: { type: integer }
      responses:
        '201': { description: Created }
  /items/{collection}/bulk:
    parameters:
      - $ref: '#/components/parameters/SiteHeader'
      - { name: collection, in: path, required: true, schema: { type: string } }
    post:
      summary: Bulk operation (create/update/delete) on items
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [op, items]
              properties:
                op: { type: string, enum: [create, update, delete] }
                items:
                  type: array
                  items: { type: object }
      responses:
        '200': { description: OK }
  /items/{collection}/{id}:
    parameters:
      - $ref: '#/components/parameters/SiteHeader'
      - { name: collection, in: path, required: true, schema: { type: string } }
      - { name: id, in: path, required: true, schema: { type: string } }
    get:
      summary: Get an item
      responses: { '200': { description: OK } }
    patch:
      summary: Patch an item (merge data)
      requestBody:
        required: true
        content:
          application/json:
            schema: { type: object }
      responses: { '200': { description: OK } }
    put:
      summary: Replace item data
      requestBody:
        required: true
        content:
          application/json:
            schema: { type: object }
      responses: { '200': { description: OK } }
    delete:
      summary: Soft-delete an item
      responses: { '204': { description: Deleted } }
  /items/{collection}/{id}/revisions:
    parameters:
      - $ref: '#/components/parameters/SiteHeader'
      - { name: collection, in: path, required: true, schema: { type: string } }
      - { name: id, in: path, required: true, schema: { type: string } }
    get:
      summary: List revisions for an item
      responses: { '200': { description: OK } }
  /items/{collection}/{id}/revert/{revisionId}:
    parameters:
      - $ref: '#/components/parameters/SiteHeader'
      - { name: collection, in: path, required: true, schema: { type: string } }
      - { name: id, in: path, required: true, schema: { type: string } }
      - { name: revisionId, in: path, required: true, schema: { type: string } }
    post:
      summary: Revert an item to a previous revision snapshot
      responses: { '200': { description: OK } }
  /utils/render-template:
    post:
      summary: Render a mustache-style display template against a data object
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [template, data]
              properties:
                template: { type: string }
                data: { type: object }
      responses: { '200': { description: OK } }
  /roles:
    parameters: [{ $ref: '#/components/parameters/SiteHeader' }]
    get:
      summary: List roles in the active site
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items: { $ref: '#/components/schemas/Role' }
    post:
      summary: Create a role
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/Role' }
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                type: object
                properties:
                  data: { $ref: '#/components/schemas/Role' }
  /roles/{id}:
    parameters:
      - $ref: '#/components/parameters/SiteHeader'
      - { name: id, in: path, required: true, schema: { type: string } }
    get:
      summary: Get role detail (incl. attached policies + members)
      responses: { '200': { description: OK } }
    patch:
      summary: Update role metadata
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/Role' }
      responses: { '200': { description: OK } }
    delete:
      summary: Delete role
      responses: { '204': { description: Deleted } }
  /roles/{id}/policies:
    parameters:
      - $ref: '#/components/parameters/SiteHeader'
      - { name: id, in: path, required: true, schema: { type: string } }
    post:
      summary: Attach a policy to the role
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [policyId]
              properties:
                policyId: { type: string }
                priority: { type: integer }
      responses: { '201': { description: Attached } }
  /roles/{id}/policies/{policyId}:
    parameters:
      - $ref: '#/components/parameters/SiteHeader'
      - { name: id, in: path, required: true, schema: { type: string } }
      - { name: policyId, in: path, required: true, schema: { type: string } }
    delete:
      summary: Detach a policy from the role
      responses: { '204': { description: Detached } }
  /roles/{id}/users:
    parameters:
      - $ref: '#/components/parameters/SiteHeader'
      - { name: id, in: path, required: true, schema: { type: string } }
    post:
      summary: Assign role to a user
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [userId]
              properties:
                userId: { type: string }
      responses: { '201': { description: Assigned } }
  /roles/{id}/users/{userId}:
    parameters:
      - $ref: '#/components/parameters/SiteHeader'
      - { name: id, in: path, required: true, schema: { type: string } }
      - { name: userId, in: path, required: true, schema: { type: string } }
    delete:
      summary: Remove role from user
      responses: { '204': { description: Removed } }
  /policies:
    parameters: [{ $ref: '#/components/parameters/SiteHeader' }]
    get:
      summary: List policies in the active site
      responses: { '200': { description: OK } }
    post:
      summary: Create a policy
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/Policy' }
      responses: { '201': { description: Created } }
  /policies/{id}:
    parameters:
      - $ref: '#/components/parameters/SiteHeader'
      - { name: id, in: path, required: true, schema: { type: string } }
    get:
      summary: Get policy detail (incl. permission rows)
      responses: { '200': { description: OK } }
    patch:
      summary: Update policy metadata or guardrails
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/Policy' }
      responses: { '200': { description: OK } }
    delete:
      summary: Delete policy
      responses: { '204': { description: Deleted } }
  /policies/{id}/permissions:
    parameters:
      - $ref: '#/components/parameters/SiteHeader'
      - { name: id, in: path, required: true, schema: { type: string } }
    post:
      summary: Add a permission row to the policy
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/PermissionRow' }
      responses: { '201': { description: Created } }
  /policies/{id}/permissions/{permId}:
    parameters:
      - $ref: '#/components/parameters/SiteHeader'
      - { name: id, in: path, required: true, schema: { type: string } }
      - { name: permId, in: path, required: true, schema: { type: string } }
    patch:
      summary: Update a permission row
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/PermissionRow' }
      responses: { '200': { description: OK } }
    delete:
      summary: Delete a permission row
      responses: { '204': { description: Deleted } }
  /policies/{id}/users:
    parameters:
      - $ref: '#/components/parameters/SiteHeader'
      - { name: id, in: path, required: true, schema: { type: string } }
    post:
      summary: Attach policy directly to a user
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [userId]
              properties:
                userId: { type: string }
                priority: { type: integer }
      responses: { '201': { description: Attached } }
  /policies/{id}/users/{userId}:
    parameters:
      - $ref: '#/components/parameters/SiteHeader'
      - { name: id, in: path, required: true, schema: { type: string } }
      - { name: userId, in: path, required: true, schema: { type: string } }
    delete:
      summary: Detach policy from a user
      responses: { '204': { description: Detached } }
  /access/conflicts/check:
    parameters: [{ $ref: '#/components/parameters/SiteHeader' }]
    post:
      summary: Check for access conflicts before attaching/removing policies
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/AccessConflictCheckRequest' }
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data: { $ref: '#/components/schemas/AccessConflictReport' }
        '400':
          description: Validation error
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Error' }
        '501':
          description: Not implemented (e.g., api_key checks)
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Error' }
  /access/export:
    parameters: [{ $ref: '#/components/parameters/SiteHeader' }]
    get:
      summary: Export access manifest without secrets
      responses:
        '200':
          description: Access manifest
          content:
            application/json:
              schema:
                type: object
                properties:
                  data: { $ref: '#/components/schemas/AccessExportManifest' }
  /access/import:
    parameters:
      - $ref: '#/components/parameters/SiteHeader'
      - name: dryRun
        in: query
        required: false
        schema: { type: boolean }
      - name: mode
        in: query
        required: false
        schema: { type: string, enum: [merge, replace-managed, replace-all] }
    post:
      summary: Import or dry-run an access manifest
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/AccessExportManifest' }
      responses:
        '200':
          description: Import result
          content:
            application/json:
              schema:
                type: object
                properties:
                  data: { $ref: '#/components/schemas/AccessImportResult' }
        '400':
          description: Invalid manifest or failed import validation
          content:
            application/json:
              schema:
                type: object
                properties:
                  data: { $ref: '#/components/schemas/AccessImportResult' }
  /api-keys:
    parameters: [{ $ref: '#/components/parameters/SiteHeader' }]
    get:
      summary: List API keys for the active site
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items: { $ref: '#/components/schemas/ApiKeyResource' }
    post:
      summary: Create an API key and return the plaintext token once
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/ApiKeyCreateRequest' }
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                type: object
                properties:
                  data: { $ref: '#/components/schemas/ApiKeySecretResult' }
        '403':
          description: API keys can only be managed by user principals
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Error' }
  /api-keys/{id}:
    parameters:
      - $ref: '#/components/parameters/SiteHeader'
      - { name: id, in: path, required: true, schema: { type: string } }
    get:
      summary: Get API key metadata and attachments
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data: { $ref: '#/components/schemas/ApiKeyResource' }
        '404':
          description: API key not found
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Error' }
  /api-keys/{id}/rotate:
    parameters:
      - $ref: '#/components/parameters/SiteHeader'
      - { name: id, in: path, required: true, schema: { type: string } }
    post:
      summary: Rotate an API key and return the new plaintext token once
      requestBody:
        required: false
        content:
          application/json:
            schema: { $ref: '#/components/schemas/ApiKeyRotateRequest' }
      responses:
        '200':
          description: Rotated
          content:
            application/json:
              schema:
                type: object
                properties:
                  data: { $ref: '#/components/schemas/ApiKeySecretResult' }
  /api-keys/{id}/revoke:
    parameters:
      - $ref: '#/components/parameters/SiteHeader'
      - { name: id, in: path, required: true, schema: { type: string } }
    post:
      summary: Revoke an API key
      responses:
        '200':
          description: Revoked
          content:
            application/json:
              schema:
                type: object
                properties:
                  data: { $ref: '#/components/schemas/ApiKeyResource' }
  /api-keys/{id}/roles:
    parameters:
      - $ref: '#/components/parameters/SiteHeader'
      - { name: id, in: path, required: true, schema: { type: string } }
    post:
      summary: Attach a role to an API key
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/ApiKeyAttachRoleRequest' }
      responses:
        '201':
          description: Attached
          content:
            application/json:
              schema:
                type: object
                properties:
                  data: { $ref: '#/components/schemas/ApiKeyRoleAttachment' }
        '409':
          description: Access policy conflict or warning
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Error' }
  /api-keys/{id}/roles/{roleId}:
    parameters:
      - $ref: '#/components/parameters/SiteHeader'
      - { name: id, in: path, required: true, schema: { type: string } }
      - { name: roleId, in: path, required: true, schema: { type: string } }
    delete:
      summary: Detach a role from an API key
      responses: { '204': { description: Detached } }
  /api-keys/{id}/policies:
    parameters:
      - $ref: '#/components/parameters/SiteHeader'
      - { name: id, in: path, required: true, schema: { type: string } }
    post:
      summary: Attach a policy to an API key
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/ApiKeyAttachPolicyRequest' }
      responses:
        '201':
          description: Attached
          content:
            application/json:
              schema:
                type: object
                properties:
                  data: { $ref: '#/components/schemas/ApiKeyPolicyAttachment' }
        '409':
          description: Access policy conflict or warning
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Error' }
  /api-keys/{id}/policies/{policyId}:
    parameters:
      - $ref: '#/components/parameters/SiteHeader'
      - { name: id, in: path, required: true, schema: { type: string } }
      - { name: policyId, in: path, required: true, schema: { type: string } }
    delete:
      summary: Detach a policy from an API key
      responses: { '204': { description: Detached } }
  /shares:
    parameters: [{ $ref: '#/components/parameters/SiteHeader' }]
    post:
      summary: Create a public share link for an item
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/ShareCreateRequest' }
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                type: object
                properties:
                  data: { $ref: '#/components/schemas/ShareSecretResult' }
  /shares/{token}:
    get:
      summary: Read a shared item through the share role permission
      security: []
      parameters:
        - name: token
          in: path
          required: true
          schema: { type: string }
        - name: X-Lumi-Share-Password
          in: header
          required: false
          schema: { type: string }
        - name: password
          in: query
          required: false
          schema: { type: string }
      responses:
        '200':
          description: Shared item payload, field-masked by the share role
          content:
            application/json:
              schema:
                type: object
                properties:
                  data: { type: object, additionalProperties: true }
        '401':
          description: Password required or share expired
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Error' }
        '403':
          description: Share revoked, not yet valid, max uses reached, or role denied
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Error' }
  /shares/{id}/revoke:
    parameters:
      - $ref: '#/components/parameters/SiteHeader'
      - { name: id, in: path, required: true, schema: { type: string } }
    post:
      summary: Revoke a share link
      responses:
        '200':
          description: Revoked
          content:
            application/json:
              schema:
                type: object
                properties:
                  data: { $ref: '#/components/schemas/ShareResource' }
  /permissions/me:
    parameters: [{ $ref: '#/components/parameters/SiteHeader' }]
    get:
      summary: Compiled permission bundle for the active principal
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data: { $ref: '#/components/schemas/PermissionBundle' }
  /permissions/check:
    parameters: [{ $ref: '#/components/parameters/SiteHeader' }]
    post:
      summary: Evaluate (collection, action, item) and return the verdict + trace
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [collection, action]
              properties:
                collection: { type: string }
                action: { type: string, enum: [create, read, update, delete, share] }
                item: { type: object, additionalProperties: true }
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data: { $ref: '#/components/schemas/PermissionCheckResult' }

  # ---------------------------------------------------------------------------
  # AI Copilot (POST-GA1)
  # ---------------------------------------------------------------------------
  /ai/chat:
    post:
      summary: Send a natural-language message to the AI copilot
      parameters: [{ $ref: '#/components/parameters/SiteHeader' }]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [message]
              properties:
                message: { type: string, maxLength: 2000 }
                conversationId: { type: string, nullable: true }
      responses:
        '200':
          description: AI response
          content:
            application/json:
              schema:
                type: object
                properties:
                  data: { $ref: '#/components/schemas/AIChatResponse' }
        '400':
          description: Validation error
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Error' }

  /ai/conversations:
    get:
      summary: List AI conversations for the active site
      parameters: [{ $ref: '#/components/parameters/SiteHeader' }]
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items: { $ref: '#/components/schemas/AIConversation' }

  /ai/conversations/{conversationId}:
    parameters:
      - $ref: '#/components/parameters/SiteHeader'
      - { name: conversationId, in: path, required: true, schema: { type: string } }
    get:
      summary: Get conversation history (messages)
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items: { $ref: '#/components/schemas/AIMessage' }
    delete:
      summary: Delete a conversation and all messages
      responses:
        '204': { description: Deleted }

  /ai/approvals:
    get:
      summary: List pending AI action approvals for the site
      parameters: [{ $ref: '#/components/parameters/SiteHeader' }]
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items: { $ref: '#/components/schemas/AIApproval' }

  /ai/approvals/{id}/decide:
    parameters:
      - $ref: '#/components/parameters/SiteHeader'
      - { name: id, in: path, required: true, schema: { type: string } }
    post:
      summary: Approve or reject a pending AI action
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [decision]
              properties:
                decision: { type: string, enum: [approved, rejected] }
      responses:
        '200':
          description: Decision recorded
          content:
            application/json:
              schema:
                type: object
                properties:
                  data: { $ref: '#/components/schemas/AIApproval' }

  /ai/suggest-field:
    post:
      summary: Suggest field type and interface for a given field name + context
      parameters: [{ $ref: '#/components/parameters/SiteHeader' }]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [fieldName]
              properties:
                fieldName: { type: string }
                collectionName: { type: string }
                existingFields: { type: array, items: { type: string } }
      responses:
        '200':
          description: Suggestion
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      type: { type: string }
                      interface: { type: string }
                      confidence: { type: number, format: float }

  /ai/content-assist:
    post:
      summary: Generate or rewrite content for a field value using RAG context
      parameters: [{ $ref: '#/components/parameters/SiteHeader' }]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [prompt, collection, field]
              properties:
                prompt: { type: string, maxLength: 1000 }
                collection: { type: string }
                field: { type: string }
                itemId: { type: string, nullable: true }
                existingValue: { type: string, nullable: true }
      responses:
        '200':
          description: AI-generated content
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      content: { type: string }
                      tokensUsed: { type: integer }

  # ---------------------------------------------------------------------------
  # Agent Harness Layer
  # ---------------------------------------------------------------------------
  /agent/goals:
    get:
      summary: List agent goals
      parameters: [{ $ref: '#/components/parameters/SiteHeader' }]
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items: { $ref: '#/components/schemas/AgentGoal' }
    post:
      summary: Create an agent goal
      parameters: [{ $ref: '#/components/parameters/SiteHeader' }]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [title]
              properties:
                title: { type: string }
                description: { type: string }
                source: { type: string, enum: [user, flow, api, schedule] }
                assigneeAgent: { type: string }
                priority: { type: string, enum: [low, normal, high, urgent] }
                successCriteria: { type: object, additionalProperties: true }
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                type: object
                properties:
                  data: { $ref: '#/components/schemas/AgentGoal' }

  /agent/runs:
    get:
      summary: List agent runs
      parameters: [{ $ref: '#/components/parameters/SiteHeader' }]
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items: { $ref: '#/components/schemas/AgentRun' }

  /agent/runs/{id}/retry:
    parameters:
      - $ref: '#/components/parameters/SiteHeader'
      - { name: id, in: path, required: true, schema: { type: string } }
    post:
      summary: Retry an agent run
      responses:
        '201': { description: Retry run created }

  /agent/tools:
    get:
      summary: List agent tools
      parameters: [{ $ref: '#/components/parameters/SiteHeader' }]
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items: { $ref: '#/components/schemas/AgentTool' }

  /agent/approvals:
    get:
      summary: List generalized agent approvals
      parameters: [{ $ref: '#/components/parameters/SiteHeader' }]
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items: { $ref: '#/components/schemas/AgentApproval' }

  /agent/approvals/{id}/decide:
    parameters:
      - $ref: '#/components/parameters/SiteHeader'
      - { name: id, in: path, required: true, schema: { type: string } }
    post:
[...]
