openapi: 3.1.0
info:
  title: LumiBase CMS API
  version: 0.1.0
  description: |
    Edge-native Headless CMS API. See `docs/api/hono-api-spec.md` for the full
    surface; this file is the machine-readable contract that ships with the
    repo. Endpoints land incrementally — Phase 0 covers auth/health only.

servers:
  - url: https://api.lumibase.dev/api/v1
    description: Production
  - url: http://127.0.0.1:1989/api/v1
    description: Local wrangler dev

security:
  - bearerAuth: []

components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
  parameters:
    SiteHeader:
      name: X-Lumi-Site
      in: header
      required: true
      schema: { type: string }
      description: Active tenant id. Required for every authenticated endpoint.
  schemas:
    Error:
      type: object
      properties:
        errors:
          type: array
          items:
            type: object
            required: [code, message]
            properties:
              code: { type: string }
              message: { type: string }
              path:
                type: array
                items: { type: string }
              trace: { type: object, additionalProperties: true }
    AuthMe:
      type: object
      properties:
        data:
          type: object
          required: [logtoId, siteId, roles]
          properties:
            logtoId: { type: string }
            email: { type: string, format: email, nullable: true }
            roles:
              type: array
              items: { type: string }
            siteId: { type: string }
            permissions:
              nullable: true
              description: Computed permission matrix. Populated in Phase C.
              type: object
              additionalProperties: true
    Health:
      type: object
      properties:
        status: { type: string, enum: [ok] }
        env: { type: string }
        ts: { type: string, format: date-time }
    Version:
      type: object
      properties:
        name: { type: string }
        version: { type: string }
        apiVersion: { type: integer }
        env: { type: string }
    Collection:
      type: object
      required: [id, siteId, name]
      properties:
        id: { type: string }
        siteId: { type: string }
        name: { type: string, pattern: '^[a-z][a-z0-9_]{0,62}$' }
        label: { type: string, nullable: true }
        pluralLabel: { type: string, nullable: true }
        hidden: { type: boolean }
        system: { type: boolean }
        singleton: { type: boolean }
        icon: { type: string, nullable: true }
        color: { type: string, nullable: true }
        note: { type: string, nullable: true }
        primaryKeyField: { type: string, pattern: '^[a-z][a-z0-9_]{0,62}$' }
        primaryKeyType: { type: string, enum: [nanoid, uuid, integer, bigInteger, string] }
        storageMode: { type: string, enum: [jsonb, materialized, physical, external] }
        displayTemplate: { type: string, nullable: true }
        sortField: { type: string, nullable: true }
        archiveField: { type: string, nullable: true }
        archiveValue: { type: string, nullable: true }
        unarchiveValue: { type: string, nullable: true }
        itemDuplicationFields:
          type: array
          items: { type: string }
        translations: { type: object, additionalProperties: true }
        accountability: { type: string, enum: [all, activity, none] }
        versioning: { type: boolean }
        meta: { type: object, additionalProperties: true }
        systemFields:
          type: array
          items: { $ref: '#/components/schemas/Field' }
        createdAt: { type: string, format: date-time }
        updatedAt: { type: string, format: date-time }
    Field:
      type: object
      required: [id, name, type, interface]
      properties:
        id: { type: string }
        collectionId: { type: string }
        name: { type: string, pattern: '^[a-z][a-z0-9_]{0,62}$' }
        type: { type: string }
        interface: { type: string }
        display: { type: string, nullable: true }
        label: { type: string, nullable: true }
        note: { type: string, nullable: true }
        defaultValue: {}
        nullable: { type: boolean }
        unique: { type: boolean }
        indexed: { type: boolean }
        searchable: { type: boolean }
        length: { type: integer, nullable: true }
        precision: { type: integer, nullable: true }
        scale: { type: integer, nullable: true }
        special:
          type: array
          items: { type: string }
        options: { type: object, additionalProperties: true }
        displayOptions: { type: object, additionalProperties: true }
        validation: { type: object, additionalProperties: true }
        conditions:
          type: array
          items: { type: object, additionalProperties: true }
        required: { type: boolean }
        readonly: { type: boolean }
        hidden: { type: boolean }
        encrypted: { type: boolean }
        versioned: { type: boolean }
        rawEnabled: { type: boolean }
        width: { type: string, enum: [half, full, fill] }
        group: { type: string, nullable: true }
        sortOrder: { type: integer }
        system: { type: boolean }
        locked: { type: boolean }
        generated: { type: boolean }
        column: { type: string }
    Role:
      type: object
      required: [id, siteId, name]
      properties:
        id: { type: string }
        siteId: { type: string }
        name: { type: string }
        description: { type: string, nullable: true }
        icon: { type: string, nullable: true }
        adminAccess: { type: boolean }
        appAccess: { type: boolean }
        createdAt: { type: string, format: date-time }
    Policy:
      type: object
      required: [id, siteId, name]
      properties:
        id: { type: string }
        siteId: { type: string }
        name: { type: string }
        description: { type: string, nullable: true }
        rules: { type: object, additionalProperties: true }
        createdAt: { type: string, format: date-time }
    PermissionRow:
      type: object
      required: [id, policyId, collection, action]
      properties:
        id: { type: string }
        siteId: { type: string }
        policyId: { type: string }
        collection: { type: string }
        action: { type: string, enum: [create, read, update, delete, share] }
        permissions: { type: object, additionalProperties: true }
        validation: { type: object, additionalProperties: true }
        presets: { type: object, additionalProperties: true }
        fields:
          type: array
          items: { type: string }
    PermissionBundle:
      type: object
      required: [admin, byKey, roles]
      properties:
        admin: { type: boolean }
        byKey:
          type: object
          additionalProperties: { type: object, additionalProperties: true }
        roles:
          type: array
          items:
            type: object
            properties:
              id: { type: string }
              name: { type: string }
              adminAccess: { type: boolean }
              appAccess: { type: boolean }
    PermissionCheckResult:
      type: object
      required: [allowed, fields]
      properties:
        allowed: { type: boolean }
        reason: { type: string, nullable: true }
        fields:
          type: array
          items: { type: string }
        rule: { type: object, nullable: true, additionalProperties: true }
        presets: { type: object, additionalProperties: true }
    # --- Access Conflict Check ---
    AccessConflictCheckRequest:
      type: object
      required: [target]
      properties:
        target:
          type: object
          required: [type, id]
          properties:
            type: { type: string, enum: [role, user, api_key] }
            id: { type: string, minLength: 1 }
        addPolicies:
          type: array
          items: { type: string }
          default: []
        removePolicies:
          type: array
          items: { type: string }
          default: []
    AccessConflict:
      type: object
      required: [severity, collection, action, existingPolicy, incomingPolicy, reason]
      properties:
        severity: { type: string, enum: [warning, blocking] }
        collection: { type: string }
        action: { type: string }
        existingPolicy: { type: string }
        incomingPolicy: { type: string }
        reason: { type: string }
    AccessConflictReport:
      type: object
      required: [ok, conflicts, warnings]
      properties:
        ok: { type: boolean }
        conflicts:
          type: array
          items: { $ref: '#/components/schemas/AccessConflict' }
        warnings:
          type: array
          items: { $ref: '#/components/schemas/AccessConflict' }
    AccessExportManifest:
      type: object
      required: [schema, exportedAt, roles, policies, bindings, apiKeys]
      properties:
        schema: { type: string, const: lumibase.access@v1 }
        exportedAt: { type: string, format: date-time }
        roles:
          type: array
          items: { type: object, additionalProperties: true }
        policies:
          type: array
          items: { type: object, additionalProperties: true }
        bindings:
          type: object
          additionalProperties: true
        apiKeys:
          type: array
          items: { type: object, additionalProperties: true }
    AccessImportResult:
      type: object
      required: [dryRun, valid, errors, diff, conflicts]
      properties:
        dryRun: { type: boolean }
        valid: { type: boolean }
        errors:
          type: array
          items:
            type: object
            properties:
              code: { type: string }
              message: { type: string }
              path: { type: string, nullable: true }
        diff: { type: object, additionalProperties: true }
        conflicts: { $ref: '#/components/schemas/AccessConflictReport' }
        mode: { type: string, enum: [merge, replace-managed, replace-all], nullable: true }
        applied: { type: boolean, nullable: true }
        audit:
          type: object
          nullable: true
          additionalProperties: true
    ApiKeyResource:
      type: object
      required: [id, siteId, name, prefix, revokedAt, roles, policies]
      properties:
        id: { type: string }
        siteId: { type: string }
        name: { type: string }
        description: { type: string, nullable: true }
        prefix: { type: string }
        createdBy: { type: string, nullable: true }
        rotatedAt: { type: string, format: date-time, nullable: true }
        rotatedBy: { type: string, nullable: true }
        expiresAt: { type: string, format: date-time, nullable: true }
        revokedAt: { type: string, format: date-time, nullable: true }
        revokedBy: { type: string, nullable: true }
        lastUsedAt: { type: string, format: date-time, nullable: true }
        lastUsedIp: { type: string, nullable: true }
        lastUsedUserAgent: { type: string, nullable: true }
        metadata: { type: object, additionalProperties: true }
        createdAt: { type: string, format: date-time }
        roles:
          type: array
          items: { $ref: '#/components/schemas/ApiKeyRoleAttachment' }
        policies:
          type: array
          items: { $ref: '#/components/schemas/ApiKeyPolicyAttachment' }
    ApiKeySecretResult:
      allOf:
        - $ref: '#/components/schemas/ApiKeyResource'
        - type: object
          required: [token]
          properties:
            token:
              type: string
              description: Plaintext token returned only on create/rotate.
    ApiKeyCreateRequest:
      type: object
      required: [name]
      properties:
        name: { type: string, minLength: 1, maxLength: 96 }
        description: { type: string, maxLength: 512 }
        expiresAt: { type: string, format: date-time, nullable: true }
        metadata: { type: object, additionalProperties: true }
    ApiKeyRotateRequest:
      type: object
      properties:
        expiresAt: { type: string, format: date-time, nullable: true }
    ApiKeyRoleAttachment:
      type: object
      required: [apiKeyId, siteId, roleId, priority]
      properties:
        apiKeyId: { type: string }
        siteId: { type: string }
        roleId: { type: string }
        priority: { type: integer }
        createdAt: { type: string, format: date-time }
    ApiKeyPolicyAttachment:
      type: object
      required: [apiKeyId, siteId, policyId, priority]
      properties:
        apiKeyId: { type: string }
        siteId: { type: string }
        policyId: { type: string }
        priority: { type: integer }
        createdAt: { type: string, format: date-time }
    ApiKeyAttachRoleRequest:
      type: object
      required: [roleId]
      properties:
        roleId: { type: string, minLength: 1 }
        priority: { type: integer }
        overrideWarnings: { type: boolean }
    ApiKeyAttachPolicyRequest:
      type: object
      required: [policyId]
      properties:
        policyId: { type: string, minLength: 1 }
        priority: { type: integer }
        overrideWarnings: { type: boolean }
    ShareResource:
      type: object
      required: [id, siteId, collection, itemId, roleId, usedCount]
      properties:
        id: { type: string }
        siteId: { type: string }
        collection: { type: string }
        itemId: { type: string }
        roleId: { type: string }
        validFrom: { type: string, format: date-time, nullable: true }
        validUntil: { type: string, format: date-time, nullable: true }
        maxUses: { type: integer, nullable: true }
        usedCount: { type: integer }
        revokedAt: { type: string, format: date-time, nullable: true }
        revokedBy: { type: string, nullable: true }
        createdBy: { type: string, nullable: true }
        lastUsedAt: { type: string, format: date-time, nullable: true }
        createdAt: { type: string, format: date-time }
    ShareSecretResult:
      allOf:
        - $ref: '#/components/schemas/ShareResource'
        - type: object
          required: [token, url]
          properties:
            token:
              type: string
              description: Plaintext share token returned only on create.
            url: { type: string }
    ShareCreateRequest:
      type: object
      required: [collection, itemId, roleId]
      properties:
        collection: { type: string, minLength: 1 }
        itemId: { type: string, minLength: 1 }
        roleId: { type: string, minLength: 1 }
        password: { type: string, minLength: 1 }
        validFrom: { type: string, format: date-time, nullable: true }
        validUntil: { type: string, format: date-time, nullable: true }
        maxUses: { type: integer, minimum: 1, nullable: true }
    # --- AI (POST-GA1) ---
    AIChatResponse:
      type: object
      properties:
        status: { type: string, enum: [executed, pending_approval, denied] }
        message: { type: string }
        conversationId: { type: string }
        pendingId: { type: string, nullable: true }
        result: { type: object, additionalProperties: true, nullable: true }
    AIConversation:
      type: object
      properties:
        id: { type: string }
        siteId: { type: string }
        userId: { type: string, nullable: true }
        title: { type: string }
        createdAt: { type: string, format: date-time }
        updatedAt: { type: string, format: date-time }
    AIMessage:
      type: object
      properties:
        id: { type: string }
        conversationId: { type: string }
        role: { type: string, enum: [user, assistant, system] }
        content: { type: string }
        toolCalls:
          type: array
          nullable: true
          items: { type: object, additionalProperties: true }
        metadata: { type: object, additionalProperties: true, nullable: true }
        createdAt: { type: string, format: date-time }
    AIApproval:
      type: object
      properties:
        id: { type: string }
        siteId: { type: string }
        userId: { type: string, nullable: true }
        conversationId: { type: string, nullable: true }
        toolName: { type: string }
        toolArgs: { type: object, additionalProperties: true }
        status: { type: string, enum: [pending, approved, rejected] }
        decidedBy: { type: string, nullable: true }
        decidedAt: { type: string, format: date-time, nullable: true }
        createdAt: { type: string, format: date-time }
    # --- Flows (POST-GA2) ---
    FlowGraph:
      type: object
      properties:
        entry: { type: string, nullable: true }
        nodes:
          type: array
          items:
            type: object
            required: [id, key]
            properties:
              id: { type: string }
              key: { type: string }
              options: { type: object, additionalProperties: true }
              next: { type: string, nullable: true }
              onError: { type: string, nullable: true }
    FlowResource:
      type: object
      required: [name, triggerType]
      properties:
        id: { type: string }
        siteId: { type: string }
        name: { type: string }
        description: { type: string, nullable: true }
        status: { type: string, enum: [active, inactive, draft], default: draft }
        triggerType: { type: string, enum: [webhook, event, schedule, manual] }
        triggerOptions: { type: object, additionalProperties: true }
        graph: { $ref: '#/components/schemas/FlowGraph' }
        createdAt: { type: string, format: date-time }
        updatedAt: { type: string, format: date-time }
    FlowRun:
      type: object
      properties:
        id: { type: string }
        flowId: { type: string }
        siteId: { type: string }
        status: { type: string, enum: [running, success, error] }
        input: { type: object, additionalProperties: true }
        steps:
          type: array
          items: { type: object, additionalProperties: true }
        error: { type: string, nullable: true }
        startedAt: { type: string, format: date-time }
        finishedAt: { type: string, format: date-time, nullable: true }
    FlowRunResult:
      type: object
      properties:
        runId: { type: string }
        status: { type: string, enum: [success, error] }
        steps:
          type: array
          items: { type: object, additionalProperties: true }
        error: { type: string, nullable: true }
    # --- Marketplace (POST-GA3) ---
    MarketplaceExtension:
      type: object
      required: [id, name, version, type, bundleUrl]
      properties:
        id: { type: string }
        name: { type: string }
        slug: { type: string }
        version: { type: string }
        type: { type: string }
        bundleUrl: { type: string, format: uri }
        signature: { type: string, description: 'Base64-encoded Ed25519 detached signature' }
        keyId: { type: string }
        manifest: { type: object, additionalProperties: true }
        capabilities:
          type: array
          items: { type: string }
        publishedAt: { type: string, format: date-time }
        verified: { type: boolean }
    # --- Materialized Collections (POST-GA4) ---
    MaterializedCollection:
      type: object
      required: [id, siteId, collection, target]
      properties:
        id: { type: string }
        siteId: { type: string }
        collection: { type: string }
        target: { type: string }
        refreshStrategy: { type: string, enum: [auto, cron, manual] }
        refreshCron: { type: string, nullable: true }
        projection:
          type: object
          properties:
            fields: { type: array, items: { type: string } }
            orderBy: { type: string, nullable: true }
        filter: { type: object, additionalProperties: true }
        lastRefreshedAt: { type: string, format: date-time, nullable: true }
        rowCount: { type: integer, nullable: true }
        createdAt: { type: string, format: date-time }
        updatedAt: { type: string, format: date-time }
    # --- SCIM Tokens (POST-GA5) ---
    SCIMTokenMeta:
      type: object
      properties:
        id: { type: string }
        label: { type: string }
        createdBy: { type: string }
        expiresAt: { type: string, format: date-time, nullable: true }
        lastUsedAt: { type: string, format: date-time, nullable: true }
        createdAt: { type: string, format: date-time }
    SCIMTokenCreated:
      allOf:
        - $ref: '#/components/schemas/SCIMTokenMeta'
        - type: object
          properties:
            token:
              type: string
              description: Raw SCIM token — shown exactly once, not stored in plaintext
    SCIMTokenRotated:
      allOf:
        - $ref: '#/components/schemas/SCIMTokenCreated'
        - type: object
          properties:
            oldTokenGraceExpiresAt:
              type: string
              format: date-time
              description: Old token remains valid until this time (24h grace period)
    # --- CDC (ClickHouse CDC) ---
    CdcConnectorType:
      type: string
      enum: [debezium_kafka, materialized_engine, airbyte]
    CdcDeploymentTarget:
      type: string
      enum: [docker_compose, cloudflare_workers]
    CdcPipeline:
      type: object
      required: [id, siteId, pipelineName, connectorType, status, replicationTables, config, createdAt, updatedAt]
      properties:
        id: { type: string }
        siteId: { type: string }
        pipelineName: { type: string }
        connectorType: { $ref: '#/components/schemas/CdcConnectorType' }
        status: { type: string, enum: [active, paused, error, provisioning] }
        statusMessage: { type: string, nullable: true }
        replicationTables:
          type: array
          items: { type: string }
        config: { type: object, additionalProperties: true }
        lastSyncAt: { type: string, format: date-time, nullable: true }
        lastSyncRecordCount: { type: integer, nullable: true }
        createdAt: { type: string, format: date-time }
        updatedAt: { type: string, format: date-time }
      description: Connection strings are write-only and are never returned.
    CdcPipelineCreate:
      type: object
      required: [pipeline_name, cdc_connector_type, source_database_connection, clickhouse_sink_connection, replication_tables]
      properties:
        pipeline_name: { type: string, minLength: 1, maxLength: 128 }
        cdc_connector_type: { $ref: '#/components/schemas/CdcConnectorType' }
        source_database_connection: { type: string, minLength: 1, writeOnly: true }
        clickhouse_sink_connection: { type: string, minLength: 1, writeOnly: true }
        intermediary_connection: { type: string, minLength: 1, writeOnly: true }
        replication_tables:
          type: array
          minItems: 1
          items: { type: string, minLength: 1 }
        config: { type: object, additionalProperties: true }
    CdcPipelinePatch:
      type: object
      properties:
        pipeline_name: { type: string, minLength: 1, maxLength: 128 }
        source_database_connection: { type: string, minLength: 1, writeOnly: true }
        clickhouse_sink_connection: { type: string, minLength: 1, writeOnly: true }
        intermediary_connection: { type: string, minLength: 1, nullable: true, writeOnly: true }
        replication_tables:
          type: array
          minItems: 1
          items: { type: string, minLength: 1 }
        config: { type: object, additionalProperties: true }
    CdcHealthCheck:
      type: object
      properties:
        healthy: { type: boolean }
        latencyMs: { type: number }
        error: { type: string }
        details: { type: object, additionalProperties: true }
    CdcPipelineMetrics:
      type: object
      properties:
        pipelineId: { type: string }
        replicationLagMs: { type: integer }
        eventsPerSecond: { type: integer }
        errorCount: { type: integer }
        lastEventAt: { type: string, format: date-time, nullable: true }
        status: { type: string }
    CdcHealthMetricEntry:
      type: object
      properties:
        pipelineId: { type: string }
        replicationLagMs: { type: integer }
        eventsPerSecond: { type: integer }
        errorCount: { type: integer }
        recordedAt: { type: string, format: date-time }
    CdcDeployRequest:
      type: object
      required: [approach, target]
      properties:
        approach: { $ref: '#/components/schemas/CdcConnectorType' }
        target: { $ref: '#/components/schemas/CdcDeploymentTarget' }
        pipeline_id: { type: string }
        env:
          type: object
          additionalProperties: { type: string }
    CdcValidateEnvRequest:
      type: object
      required: [approach, target, env]
      properties:
        approach: { $ref: '#/components/schemas/CdcConnectorType' }
        target: { $ref: '#/components/schemas/CdcDeploymentTarget' }
        env:
          type: object
          additionalProperties: { type: string }
    CdcEnvValidationResult:
      type: object
      properties:
        valid: { type: boolean }
        invalidFields:
          type: array
          items:
            type: object
            properties:
              key: { type: string }
              reason: { type: string }
    CdcDeploymentResult:
      type: object
      properties:
        deploymentId: { type: string }
        status: { type: string, enum: [pending, running, completed, failed, rolled_back] }
        steps:
          type: array
          items: { type: object, additionalProperties: true }
        completedAt: { type: string, format: date-time }
        error: { type: object, additionalProperties: true, nullable: true }


paths:
  /utils/health:
    get:
      summary: Liveness probe
      security: []
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Health' }
  /utils/version:
    get:
      summary: API + runtime version
      security: []
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Version' }
  /collections:
    get:
      summary: List collections in the active site
      parameters: [{ $ref: '#/components/parameters/SiteHeader' }]
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items: { $ref: '#/components/schemas/Collection' }
    post:
      summary: Create a collection
      parameters: [{ $ref: '#/components/parameters/SiteHeader' }]
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/Collection' }
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                type: object
                properties:
                  data: { $ref: '#/components/schemas/Collection' }
        '409':
          description: Collection already exists
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Error' }
  /collections/{name}:
    parameters:
      - $ref: '#/components/parameters/SiteHeader'
      - name: name
        in: path
        required: true
        schema: { type: string }
    get:
      summary: Get collection by name
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data: { $ref: '#/components/schemas/Collection' }
    patch:
      summary: Update collection metadata
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/Collection' }
      responses:
        '200':
          description: OK
    delete:
      summary: Delete collection (rejected when relations reference it)
      responses:
        '204': { description: Deleted }
  /collections/{name}/fields:
    parameters:
      - $ref: '#/components/parameters/SiteHeader'
      - name: name
        in: path
        required: true
        schema: { type: string }
    get:
      summary: List fields of a collection
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items: { $ref: '#/components/schemas/Field' }
  /collections/{name}/fields/{field}:
    parameters:
      - $ref: '#/components/parameters/SiteHeader'
      - { name: name, in: path, required: true, schema: { type: string } }
      - { name: field, in: path, required: true, schema: { type: string } }
    put:
      summary: Upsert a field (idempotent by name)
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/Field' }
      responses:
        '200':
          description: OK
    delete:
      summary: Delete a field
      responses:
        '204': { description: Deleted }
  /collections/diff:
    post:
      summary: Diff a proposed schema against the current collection
      parameters: [{ $ref: '#/components/parameters/SiteHeader' }]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [name]
              properties:
                name: { type: string }
                $ref: '#/components/schemas/Collection'
                fields:
                  type: array
                  items: { $ref: '#/components/schemas/Field' }
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      collection:
                        type: object
                        properties:
                          added: { type: array, items: { type: string } }
                          removed: { type: array, items: { type: string } }
                          changed: { type: array, items: { type: object } }
                      fields:
                        type: object
                        properties:
                          added: { type: array, items: { type: object } }
                          removed: { type: array, items: { type: string } }
                          changed: { type: array, items: { type: object } }
  /collections/{name}/schema:
    parameters:
      - $ref: '#/components/parameters/SiteHeader'
      - { name: name, in: path, required: true, schema: { type: string } }
    put:
      summary: Atomically update collection and its fields
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                $ref: '#/components/schemas/Collection'
                fields:
                  type: array
                  items: { $ref: '#/components/schemas/Field' }
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data: { $ref: '#/components/schemas/Collection' }
  /collections/{name}/compiled:
    parameters:
      - $ref: '#/components/parameters/SiteHeader'
      - { name: name, in: path, required: true, schema: { type: string } }
    get:
      summary: Get the cached compiled schema for ItemService
      responses:
        '200':
          description: OK
  /relations:
    get:
      summary: List relations in the active site
      parameters: [{ $ref: '#/components/parameters/SiteHeader' }]
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items: { $ref: '#/components/schemas/Relation' }
    post:
      summary: Create a relation
      parameters: [{ $ref: '#/components/parameters/SiteHeader' }]
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/Relation' }
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                type: object
                properties:
                  data: { $ref: '#/components/schemas/Relation' }
  /relations/{id}:
    parameters:
      - $ref: '#/components/parameters/SiteHeader'
      - { name: id, in: path, required: true, schema: { type: string } }
    delete:
      summary: Delete a relation
      responses:
        '204': { description: Deleted }
  /typegen/schema:
    get:
      summary: Get type generation manifest for the active site
      parameters:
        - $ref: '#/components/parameters/SiteHeader'
        - { name: include, in: query, schema: { type: string }, description: 'Comma-separated collection names to include' }
        - { name: exclude, in: query, schema: { type: string }, description: 'Comma-separated collection names to exclude' }
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      version: { type: integer }
                      site: { type: string }
                      collections:
                        type: array
                        items:
                          type: object
                          properties:
                            name: { type: string }
                            primaryKey: { type: string }
                            fields:
                              type: array
                              items:
                                type: object
                                properties:
                                  name: { type: string }
                                  type: { type: string }
                                  required: { type: boolean }
                                  nullable: { type: boolean }
                                  branded: { type: string }
                                  kind: { type: string, enum: [m2o, o2m, m2m, m2a] }
                                  target: { type: string }
                                  enum: { type: array, items: { type: string } }
  /auth/me:
    get:
      summary: Current authenticated principal for active site
      parameters:
        - $ref: '#/components/parameters/SiteHeader'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema: { $ref: '#/components/schemas/AuthMe' }
        '401':
          description: Unauthenticated
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Error' }
        '400':
          description: Missing tenant header
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Error' }
  /cdc/pipelines:
    parameters:
      - $ref: '#/components/parameters/SiteHeader'
    get:
      summary: List CDC pipelines for the active site
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      pipelines:
                        type: array
                        items: { $ref: '#/components/schemas/CdcPipeline' }
        '403':
          description: Admin role required
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Error' }
    post:
      summary: Create a CDC pipeline
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/CdcPipelineCreate' }
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                type: object
                properties:
                  data: { $ref: '#/components/schemas/CdcPipeline' }
        '400':
          description: Validation or connectivity failure
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Error' }
        '403':
          description: Admin role required or pipeline limit exceeded
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Error' }
        '409':
          description: Pipeline name already exists
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Error' }
  /cdc/pipelines/{id}:
    parameters:
      - $ref: '#/components/parameters/SiteHeader'
      - { name: id, in: path, required: true, schema: { type: string } }
    get:
      summary: Get CDC pipeline details
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data: { $ref: '#/components/schemas/CdcPipeline' }
        '404':
          description: Pipeline not found
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Error' }
    patch:
      summary: Update CDC pipeline configuration
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/CdcPipelinePatch' }
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data: { $ref: '#/components/schemas/CdcPipeline' }
        '400':
          description: Validation or connectivity failure
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Error' }
        '404':
          description: Pipeline not found
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Error' }
        '409':
          description: Pipeline name conflict
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Error' }
    delete:
      summary: Delete a CDC pipeline and release replication resources
      responses:
        '200':
          description: Deleted
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      deleted: { type: boolean }
                      id: { type: string }
        '404':
          description: Pipeline not found
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Error' }
        '409':
          description: Replication slot cleanup failed
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Error' }
  /cdc/pipelines/{id}/start:
    parameters:
      - $ref: '#/components/parameters/SiteHeader'
      - { name: id, in: path, required: true, schema: { type: string } }
    post:
      summary: Start CDC replication for a pipeline
      responses:
        '200':
          description: Started
          content:
            application/json:
              schema:
                type: object
                properties:
                  data: { $ref: '#/components/schemas/CdcPipeline' }
        '404':
          description: Pipeline not found
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Error' }
        '503':
          description: Connector unavailable
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Error' }
  /cdc/pipelines/{id}/stop:
    parameters:
      - $ref: '#/components/parameters/SiteHeader'
      - { name: id, in: path, required: true, schema: { type: string } }
    post:
      summary: Stop CDC replication for a pipeline
      responses:
        '200':
          description: Stopped
          content:
            application/json:
              schema:
                type: object
                properties:
                  data: { $ref: '#/components/schemas/CdcPipeline' }
        '404':
          description: Pipeline not found
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Error' }
        '503':
          description: Connector unavailable
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Error' }
  /cdc/pipelines/{id}/health:
    parameters:
      - $ref: '#/components/parameters/SiteHeader'
      - { name: id, in: path, required: true, schema: { type: string } }
    get:
      summary: Run a CDC pipeline connectivity health check
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data: { $ref: '#/components/schemas/CdcHealthCheck' }
        '404':
          description: Pipeline not found
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Error' }
        '502':
          description: Connector error
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Error' }
  /cdc/pipelines/{id}/metrics:
    parameters:
      - $ref: '#/components/parameters/SiteHeader'
      - { name: id, in: path, required: true, schema: { type: string } }
    get:
      summary: Get current CDC pipeline metrics
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data: { $ref: '#/components/schemas/CdcPipelineMetrics' }
        '404':
          description: Pipeline not found
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Error' }
        '502':
          description: Connector error
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Error' }
  /cdc/pipelines/{id}/metrics/history:
    parameters:
      - $ref: '#/components/parameters/SiteHeader'
      - { name: id, in: path, required: true, schema: { type: string } }
      - { name: since, in: query, schema: { type: string, format: date-time } }
    get:
      summary: Get CDC pipeline metric history
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      history:
                        type: array
                        items: { $ref: '#/components/schemas/CdcHealthMetricEntry' }
                      since: { type: string, format: date-time }
        '400':
          description: Invalid since query parameter
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Error' }
        '404':
          description: Pipeline not found
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Error' }
  /cdc/deploy:
    parameters:
      - $ref: '#/components/parameters/SiteHeader'
    post:
      summary: Trigger a CDC deployment flow
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/CdcDeployRequest' }
      responses:
        '201':
          description: Deployment created
          content:
            application/json:
              schema:
                type: object
                properties:
                  data: { $ref: '#/components/schemas/CdcDeploymentResult' }
        '400':
          description: Validation failure
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Error' }
  /cdc/deploy/validate-env:
    parameters:
      - $ref: '#/components/parameters/SiteHeader'
    post:
      summary: Validate CDC deployment environment variables
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/CdcValidateEnvRequest' }
      responses:
        '200':
          description: Validation result
          content:
            application/json:
              schema:
                type: object
                properties:
                  data: { $ref: '#/components/schemas/CdcEnvValidationResult' }
        '400':
          description: Invalid request body
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Error' }
  /cdc/deploy/{id}/rollback:
    parameters:
      - $ref: '#/components/parameters/SiteHeader'
      - { name: id, in: path, required: true, schema: { type: string } }
    post:
      summary: Roll back a CDC deployment
      responses:
        '200':
          description: Rollback result
          content:
            application/json:
              schema:
                type: object
                properties:
                  data: { $ref: '#/components/schemas/CdcDeploymentResult' }
        '404':
          description: Deployment not found
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Error' }
  /items/{collection}:
    parameters:
      - $ref: '#/components/parameters/SiteHeader'
      - { name: collection, in: path, required: true, schema: { type: string } }
    get:
      summary: List items in a collection
      parameters:
        - { name: fields, in: query, schema: { type: string } }
        - { name: filter, in: query, schema: { type: string }, description: 'JSON filter DSL' }
        - { name: sort, in: query, schema: { type: string } }
        - { name: limit, in: query, schema: { type: integer, minimum: 1, maximum: 200 } }
        - { name: offset, in: query, schema: { type: integer, minimum: 0 } }
        - { name: status, in: query, schema: { type: string } }
      responses:
        '200': { description: OK }
    post:
      summary: Create an item
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [data]
              properties:
                data: { type: object }
                status: { type: string }
                sort: { type: integer }
      responses:
        '201': { description: Created }
  /items/{collection}/bulk:
    parameters:
      - $ref: '#/components/parameters/SiteHeader'
      - { name: collection, in: path, required: true, schema: { type: string } }
    post:
      summary: Bulk operation (create/update/delete) on items
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [op, items]
              properties:
                op: { type: string, enum: [create, update, delete] }
                items:
                  type: array
                  items: { type: object }
      responses:
        '200': { description: OK }
  /items/{collection}/{id}:
    parameters:
      - $ref: '#/components/parameters/SiteHeader'
      - { name: collection, in: path, required: true, schema: { type: string } }
      - { name: id, in: path, required: true, schema: { type: string } }
    get:
      summary: Get an item
      responses: { '200': { description: OK } }
    patch:
      summary: Patch an item (merge data)
      requestBody:
        required: true
        content:
          application/json:
            schema: { type: object }
      responses: { '200': { description: OK } }
    put:
      summary: Replace item data
      requestBody:
        required: true
        content:
          application/json:
            schema: { type: object }
      responses: { '200': { description: OK } }
    delete:
      summary: Soft-delete an item
      responses: { '204': { description: Deleted } }
  /items/{collection}/{id}/revisions:
    parameters:
      - $ref: '#/components/parameters/SiteHeader'
      - { name: collection, in: path, required: true, schema: { type: string } }
      - { name: id, in: path, required: true, schema: { type: string } }
    get:
      summary: List revisions for an item
      responses: { '200': { description: OK } }
  /items/{collection}/{id}/revert/{revisionId}:
    parameters:
      - $ref: '#/components/parameters/SiteHeader'
      - { name: collection, in: path, required: true, schema: { type: string } }
      - { name: id, in: path, required: true, schema: { type: string } }
      - { name: revisionId, in: path, required: true, schema: { type: string } }
    post:
      summary: Revert an item to a previous revision snapshot
      responses: { '200': { description: OK } }
  /utils/render-template:
    post:
      summary: Render a mustache-style display template against a data object
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [template, data]
              properties:
                template: { type: string }
                data: { type: object }
      responses: { '200': { description: OK } }
  /roles:
    parameters: [{ $ref: '#/components/parameters/SiteHeader' }]
    get:
      summary: List roles in the active site
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items: { $ref: '#/components/schemas/Role' }
    post:
      summary: Create a role
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/Role' }
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                type: object
                properties:
                  data: { $ref: '#/components/schemas/Role' }
  /roles/{id}:
    parameters:
      - $ref: '#/components/parameters/SiteHeader'
      - { name: id, in: path, required: true, schema: { type: string } }
    get:
      summary: Get role detail (incl. attached policies + members)
      responses: { '200': { description: OK } }
    patch:
      summary: Update role metadata
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/Role' }
      responses: { '200': { description: OK } }
    delete:
      summary: Delete role
      responses: { '204': { description: Deleted } }
  /roles/{id}/policies:
    parameters:
      - $ref: '#/components/parameters/SiteHeader'
      - { name: id, in: path, required: true, schema: { type: string } }
    post:
      summary: Attach a policy to the role
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [policyId]
              properties:
                policyId: { type: string }
                priority: { type: integer }
      responses: { '201': { description: Attached } }
  /roles/{id}/policies/{policyId}:
    parameters:
      - $ref: '#/components/parameters/SiteHeader'
      - { name: id, in: path, required: true, schema: { type: string } }
      - { name: policyId, in: path, required: true, schema: { type: string } }
    delete:
      summary: Detach a policy from the role
      responses: { '204': { description: Detached } }
  /roles/{id}/users:
    parameters:
      - $ref: '#/components/parameters/SiteHeader'
      - { name: id, in: path, required: true, schema: { type: string } }
    post:
      summary: Assign role to a user
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [userId]
              properties:
                userId: { type: string }
      responses: { '201': { description: Assigned } }
  /roles/{id}/users/{userId}:
    parameters:
      - $ref: '#/components/parameters/SiteHeader'
      - { name: id, in: path, required: true, schema: { type: string } }
      - { name: userId, in: path, required: true, schema: { type: string } }
    delete:
      summary: Remove role from user
      responses: { '204': { description: Removed } }
  /policies:
    parameters: [{ $ref: '#/components/parameters/SiteHeader' }]
    get:
      summary: List policies in the active site
      responses: { '200': { description: OK } }
    post:
      summary: Create a policy
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/Policy' }
      responses: { '201': { description: Created } }
  /policies/{id}:
    parameters:
      - $ref: '#/components/parameters/SiteHeader'
      - { name: id, in: path, required: true, schema: { type: string } }
    get:
      summary: Get policy detail (incl. permission rows)
      responses: { '200': { description: OK } }
    patch:
      summary: Update policy metadata or guardrails
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/Policy' }
      responses: { '200': { description: OK } }
    delete:
      summary: Delete policy
      responses: { '204': { description: Deleted } }
  /policies/{id}/permissions:
    parameters:
      - $ref: '#/components/parameters/SiteHeader'
      - { name: id, in: path, required: true, schema: { type: string } }
    post:
      summary: Add a permission row to the policy
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/PermissionRow' }
      responses: { '201': { description: Created } }
  /policies/{id}/permissions/{permId}:
    parameters:
      - $ref: '#/components/parameters/SiteHeader'
      - { name: id, in: path, required: true, schema: { type: string } }
      - { name: permId, in: path, required: true, schema: { type: string } }
    patch:
      summary: Update a permission row
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/PermissionRow' }
      responses: { '200': { description: OK } }
    delete:
      summary: Delete a permission row
      responses: { '204': { description: Deleted } }
  /policies/{id}/users:
    parameters:
      - $ref: '#/components/parameters/SiteHeader'
      - { name: id, in: path, required: true, schema: { type: string } }
    post:
      summary: Attach policy directly to a user
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [userId]
              properties:
                userId: { type: string }
                priority: { type: integer }
      responses: { '201': { description: Attached } }
  /policies/{id}/users/{userId}:
    parameters:
      - $ref: '#/components/parameters/SiteHeader'
      - { name: id, in: path, required: true, schema: { type: string } }
      - { name: userId, in: path, required: true, schema: { type: string } }
    delete:
      summary: Detach policy from a user
      responses: { '204': { description: Detached } }
  /access/conflicts/check:
    parameters: [{ $ref: '#/components/parameters/SiteHeader' }]
    post:
      summary: Check for access conflicts before attaching/removing policies
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/AccessConflictCheckRequest' }
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data: { $ref: '#/components/schemas/AccessConflictReport' }
        '400':
          description: Validation error
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Error' }
        '501':
          description: Not implemented (e.g., api_key checks)
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Error' }
  /access/export:
    parameters: [{ $ref: '#/components/parameters/SiteHeader' }]
    get:
      summary: Export access manifest without secrets
      responses:
        '200':
          description: Access manifest
          content:
            application/json:
              schema:
                type: object
                properties:
                  data: { $ref: '#/components/schemas/AccessExportManifest' }
  /access/import:
    parameters:
      - $ref: '#/components/parameters/SiteHeader'
      - name: dryRun
        in: query
        required: false
        schema: { type: boolean }
      - name: mode
        in: query
        required: false
        schema: { type: string, enum: [merge, replace-managed, replace-all] }
    post:
      summary: Import or dry-run an access manifest
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/AccessExportManifest' }
      responses:
        '200':
          description: Import result
          content:
            application/json:
              schema:
                type: object
                properties:
                  data: { $ref: '#/components/schemas/AccessImportResult' }
        '400':
          description: Invalid manifest or failed import validation
          content:
            application/json:
              schema:
                type: object
                properties:
                  data: { $ref: '#/components/schemas/AccessImportResult' }
  /api-keys:
    parameters: [{ $ref: '#/components/parameters/SiteHeader' }]
    get:
      summary: List API keys for the active site
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items: { $ref: '#/components/schemas/ApiKeyResource' }
    post:
      summary: Create an API key and return the plaintext token once
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/ApiKeyCreateRequest' }
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                type: object
                properties:
                  data: { $ref: '#/components/schemas/ApiKeySecretResult' }
        '403':
          description: API keys can only be managed by user principals
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Error' }
  /api-keys/{id}:
    parameters:
      - $ref: '#/components/parameters/SiteHeader'
      - { name: id, in: path, required: true, schema: { type: string } }
    get:
      summary: Get API key metadata and attachments
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data: { $ref: '#/components/schemas/ApiKeyResource' }
        '404':
          description: API key not found
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Error' }
  /api-keys/{id}/rotate:
    parameters:
      - $ref: '#/components/parameters/SiteHeader'
      - { name: id, in: path, required: true, schema: { type: string } }
    post:
      summary: Rotate an API key and return the new plaintext token once
      requestBody:
        required: false
        content:
          application/json:
            schema: { $ref: '#/components/schemas/ApiKeyRotateRequest' }
      responses:
        '200':
          description: Rotated
          content:
            application/json:
              schema:
                type: object
                properties:
                  data: { $ref: '#/components/schemas/ApiKeySecretResult' }
  /api-keys/{id}/revoke:
    parameters:
      - $ref: '#/components/parameters/SiteHeader'
      - { name: id, in: path, required: true, schema: { type: string } }
    post:
      summary: Revoke an API key
      responses:
        '200':
          description: Revoked
          content:
            application/json:
              schema:
                type: object
                properties:
                  data: { $ref: '#/components/schemas/ApiKeyResource' }
  /api-keys/{id}/roles:
    parameters:
      - $ref: '#/components/parameters/SiteHeader'
      - { name: id, in: path, required: true, schema: { type: string } }
    post:
      summary: Attach a role to an API key
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/ApiKeyAttachRoleRequest' }
      responses:
        '201':
          description: Attached
          content:
            application/json:
              schema:
                type: object
                properties:
                  data: { $ref: '#/components/schemas/ApiKeyRoleAttachment' }
        '409':
          description: Access policy conflict or warning
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Error' }
  /api-keys/{id}/roles/{roleId}:
    parameters:
      - $ref: '#/components/parameters/SiteHeader'
      - { name: id, in: path, required: true, schema: { type: string } }
      - { name: roleId, in: path, required: true, schema: { type: string } }
    delete:
      summary: Detach a role from an API key
      responses: { '204': { description: Detached } }
  /api-keys/{id}/policies:
    parameters:
      - $ref: '#/components/parameters/SiteHeader'
      - { name: id, in: path, required: true, schema: { type: string } }
    post:
      summary: Attach a policy to an API key
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/ApiKeyAttachPolicyRequest' }
      responses:
        '201':
          description: Attached
          content:
            application/json:
              schema:
                type: object
                properties:
                  data: { $ref: '#/components/schemas/ApiKeyPolicyAttachment' }
        '409':
          description: Access policy conflict or warning
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Error' }
  /api-keys/{id}/policies/{policyId}:
    parameters:
      - $ref: '#/components/parameters/SiteHeader'
      - { name: id, in: path, required: true, schema: { type: string } }
      - { name: policyId, in: path, required: true, schema: { type: string } }
    delete:
      summary: Detach a policy from an API key
      responses: { '204': { description: Detached } }
  /shares:
    parameters: [{ $ref: '#/components/parameters/SiteHeader' }]
    post:
      summary: Create a public share link for an item
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/ShareCreateRequest' }
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                type: object
                properties:
                  data: { $ref: '#/components/schemas/ShareSecretResult' }
  /shares/{token}:
    get:
      summary: Read a shared item through the share role permission
      security: []
      parameters:
        - name: token
          in: path
          required: true
          schema: { type: string }
        - name: X-Lumi-Share-Password
          in: header
          required: false
          schema: { type: string }
        - name: password
          in: query
          required: false
          schema: { type: string }
      responses:
        '200':
          description: Shared item payload, field-masked by the share role
          content:
            application/json:
              schema:
                type: object
                properties:
                  data: { type: object, additionalProperties: true }
        '401':
          description: Password required or share expired
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Error' }
        '403':
          description: Share revoked, not yet valid, max uses reached, or role denied
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Error' }
  /shares/{id}/revoke:
    parameters:
      - $ref: '#/components/parameters/SiteHeader'
      - { name: id, in: path, required: true, schema: { type: string } }
    post:
      summary: Revoke a share link
      responses:
        '200':
          description: Revoked
          content:
            application/json:
              schema:
                type: object
                properties:
                  data: { $ref: '#/components/schemas/ShareResource' }
  /permissions/me:
    parameters: [{ $ref: '#/components/parameters/SiteHeader' }]
    get:
      summary: Compiled permission bundle for the active principal
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data: { $ref: '#/components/schemas/PermissionBundle' }
  /permissions/check:
    parameters: [{ $ref: '#/components/parameters/SiteHeader' }]
    post:
      summary: Evaluate (collection, action, item) and return the verdict + trace
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [collection, action]
              properties:
                collection: { type: string }
                action: { type: string, enum: [create, read, update, delete, share] }
                item: { type: object, additionalProperties: true }
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data: { $ref: '#/components/schemas/PermissionCheckResult' }

  # ---------------------------------------------------------------------------
  # AI Copilot (POST-GA1)
  # ---------------------------------------------------------------------------
  /ai/chat:
    post:
      summary: Send a natural-language message to the AI copilot
      parameters: [{ $ref: '#/components/parameters/SiteHeader' }]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [message]
              properties:
                message: { type: string, maxLength: 2000 }
                conversationId: { type: string, nullable: true }
      responses:
        '200':
          description: AI response
          content:
            application/json:
              schema:
                type: object
                properties:
                  data: { $ref: '#/components/schemas/AIChatResponse' }
        '400':
          description: Validation error
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Error' }

  /ai/conversations:
    get:
      summary: List AI conversations for the active site
      parameters: [{ $ref: '#/components/parameters/SiteHeader' }]
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items: { $ref: '#/components/schemas/AIConversation' }

  /ai/conversations/{conversationId}:
    parameters:
      - $ref: '#/components/parameters/SiteHeader'
      - { name: conversationId, in: path, required: true, schema: { type: string } }
    get:
      summary: Get conversation history (messages)
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items: { $ref: '#/components/schemas/AIMessage' }
    delete:
      summary: Delete a conversation and all messages
      responses:
        '204': { description: Deleted }

  /ai/approvals:
    get:
      summary: List pending AI action approvals for the site
      parameters: [{ $ref: '#/components/parameters/SiteHeader' }]
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items: { $ref: '#/components/schemas/AIApproval' }

  /ai/approvals/{id}/decide:
    parameters:
      - $ref: '#/components/parameters/SiteHeader'
      - { name: id, in: path, required: true, schema: { type: string } }
    post:
      summary: Approve or reject a pending AI action
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [decision]
              properties:
                decision: { type: string, enum: [approved, rejected] }
      responses:
        '200':
          description: Decision recorded
          content:
            application/json:
              schema:
                type: object
                properties:
                  data: { $ref: '#/components/schemas/AIApproval' }

  /ai/suggest-field:
    post:
      summary: Suggest field type and interface for a given field name + context
      parameters: [{ $ref: '#/components/parameters/SiteHeader' }]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [fieldName]
              properties:
                fieldName: { type: string }
                collectionName: { type: string }
                existingFields: { type: array, items: { type: string } }
      responses:
        '200':
          description: Suggestion
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      type: { type: string }
                      interface: { type: string }
                      confidence: { type: number, format: float }

  /ai/content-assist:
    post:
      summary: Generate or rewrite content for a field value using RAG context
      parameters: [{ $ref: '#/components/parameters/SiteHeader' }]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [prompt, collection, field]
              properties:
                prompt: { type: string, maxLength: 1000 }
                collection: { type: string }
                field: { type: string }
                itemId: { type: string, nullable: true }
                existingValue: { type: string, nullable: true }
      responses:
        '200':
          description: AI-generated content
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      content: { type: string }
                      tokensUsed: { type: integer }

  # ---------------------------------------------------------------------------
  # Flows Automation (POST-GA2)
  # ---------------------------------------------------------------------------
  /flows:
    get:
      summary: List flows in the active site
      parameters: [{ $ref: '#/components/parameters/SiteHeader' }]
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items: { $ref: '#/components/schemas/FlowResource' }
    post:
      summary: Create a flow
      parameters: [{ $ref: '#/components/parameters/SiteHeader' }]
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/FlowResource' }
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                type: object
                properties:
                  data: { $ref: '#/components/schemas/FlowResource' }
        '400':
          description: Validation error
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Error' }

  /flows/{id}:
    parameters:
      - $ref: '#/components/parameters/SiteHeader'
      - { name: id, in: path, required: true, schema: { type: string } }
    get:
      summary: Get flow detail (incl. graph)
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data: { $ref: '#/components/schemas/FlowResource' }
        '404':
          description: Not found
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Error' }
    patch:
      summary: Update flow (graph, status, metadata)
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/FlowResource' }
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data: { $ref: '#/components/schemas/FlowResource' }
    delete:
      summary: Delete a flow
      responses:
        '204': { description: Deleted }

  /flows/{id}/run:
    parameters:
      - $ref: '#/components/parameters/SiteHeader'
      - { name: id, in: path, required: true, schema: { type: string } }
    post:
      summary: Trigger a manual flow run
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              description: Optional input data passed to the flow entry node
              additionalProperties: true
      responses:
        '200':
          description: Run result
          content:
            application/json:
              schema:
                type: object
                properties:
                  data: { $ref: '#/components/schemas/FlowRunResult' }

  /flows/{id}/runs:
    parameters:
      - $ref: '#/components/parameters/SiteHeader'
      - { name: id, in: path, required: true, schema: { type: string } }
    get:
      summary: List runs for a flow (latest 100)
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items: { $ref: '#/components/schemas/FlowRun' }

  # ---------------------------------------------------------------------------
  # Marketplace (POST-GA3)
  # ---------------------------------------------------------------------------
  /marketplace/extensions:
    get:
      summary: List published extensions in the marketplace
      security: []
      parameters:
        - { name: type, in: query, schema: { type: string }, description: 'Filter by extension type' }
        - { name: search, in: query, schema: { type: string } }
        - { name: limit, in: query, schema: { type: integer, default: 20 } }
        - { name: offset, in: query, schema: { type: integer, default: 0 } }
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items: { $ref: '#/components/schemas/MarketplaceExtension' }
                  meta:
                    type: object
                    properties:
                      total: { type: integer }
                      limit: { type: integer }
                      offset: { type: integer }

  /marketplace/extensions/{slug}:
    parameters:
      - { name: slug, in: path, required: true, schema: { type: string } }
    get:
      summary: Get marketplace extension detail (incl. signature)
      security: []
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data: { $ref: '#/components/schemas/MarketplaceExtension' }
        '404':
          description: Not found
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Error' }

  /marketplace/extensions/{slug}/install:
    parameters:
      - $ref: '#/components/parameters/SiteHeader'
      - { name: slug, in: path, required: true, schema: { type: string } }
    post:
      summary: Install a marketplace extension into the active site
      responses:
        '201':
          description: Installed
          content:
            application/json:
              schema:
                type: object
                properties:
                  data: { $ref: '#/components/schemas/ExtensionResource' }
        '409':
          description: Already installed
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Error' }

  /marketplace/publish:
    post:
      summary: Publish an extension to the marketplace
      parameters: [{ $ref: '#/components/parameters/SiteHeader' }]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [name, version, type, bundleUrl, signature, keyId]
              properties:
                name: { type: string }
                version: { type: string }
                type: { type: string }
                bundleUrl: { type: string, format: uri }
                signature: { type: string, description: 'Base64-encoded Ed25519 signature of SHA-256(bundle)' }
                keyId: { type: string }
                manifest: { type: object, additionalProperties: true }
                capabilities: { type: array, items: { type: string } }
      responses:
        '201':
          description: Published
          content:
            application/json:
              schema:
                type: object
                properties:
                  data: { $ref: '#/components/schemas/MarketplaceExtension' }

  # ---------------------------------------------------------------------------
  # Materialized Collections (POST-GA4)
  # ---------------------------------------------------------------------------
  /materialize:
    get:
      summary: List materialized collections for the active site
      parameters: [{ $ref: '#/components/parameters/SiteHeader' }]
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items: { $ref: '#/components/schemas/MaterializedCollection' }
    post:
      summary: Register a new materialized collection and create its physical table
      parameters: [{ $ref: '#/components/parameters/SiteHeader' }]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [collection, target]
              properties:
                collection: { type: string }
                target: { type: string, pattern: '^[a-z][a-z0-9_]{0,62}$' }
                refreshStrategy: { type: string, enum: [auto, cron, manual], default: manual }
                refreshCron: { type: string, nullable: true }
                projection:
                  type: object
                  properties:
                    fields: { type: array, items: { type: string }, default: ['*'] }
                    orderBy: { type: string, nullable: true }
                filter: { type: object, additionalProperties: true }
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                type: object
                properties:
                  data: { $ref: '#/components/schemas/MaterializedCollection' }
        '404':
          description: Source collection not found
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Error' }

  /materialize/{id}/refresh:
    parameters:
      - $ref: '#/components/parameters/SiteHeader'
      - { name: id, in: path, required: true, schema: { type: string } }
    post:
      summary: Trigger a physical table refresh (TRUNCATE + re-INSERT)
      responses:
        '200':
          description: Refresh result
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      rowsInserted: { type: integer }
                      refreshedAt: { type: string, format: date-time }

  /materialize/{id}/data:
    parameters:
      - $ref: '#/components/parameters/SiteHeader'
      - { name: id, in: path, required: true, schema: { type: string } }
    get:
      summary: Query the physical materialized table directly
      parameters:
        - { name: limit, in: query, schema: { type: integer, default: 100 } }
        - { name: offset, in: query, schema: { type: integer, default: 0 } }
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items: { type: object, additionalProperties: true }
                  meta:
                    type: object
                    properties:
                      total: { type: integer }
                      limit: { type: integer }
                      offset: { type: integer }

  /materialize/{id}:
    parameters:
      - $ref: '#/components/parameters/SiteHeader'
      - { name: id, in: path, required: true, schema: { type: string } }
    delete:
      summary: Drop the physical table and remove the materialized collection record
      responses:
        '204': { description: Dropped }

  # ---------------------------------------------------------------------------
  # SCIM Token Management (POST-GA5)
  # ---------------------------------------------------------------------------
  /scim/tokens:
    get:
      summary: List active SCIM tokens for the site (masked — no raw token returned)
      parameters: [{ $ref: '#/components/parameters/SiteHeader' }]
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items: { $ref: '#/components/schemas/SCIMTokenMeta' }
    post:
      summary: Create a new SCIM token
      parameters: [{ $ref: '#/components/parameters/SiteHeader' }]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [label]
              properties:
                label: { type: string, minLength: 1 }
                lifespanDays: { type: integer, minimum: 1, maximum: 365, default: 90 }
      responses:
        '201':
          description: Token created — raw token returned once only
          content:
            application/json:
              schema:
                type: object
                properties:
                  data: { $ref: '#/components/schemas/SCIMTokenCreated' }

  /scim/tokens/{id}:
    parameters:
      - $ref: '#/components/parameters/SiteHeader'
      - { name: id, in: path, required: true, schema: { type: string } }
    delete:
      summary: Revoke a SCIM token immediately
      responses:
        '200':
          description: Revoked
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      success: { type: boolean }
        '404':
          description: Token not found
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Error' }

  /scim/tokens/{id}/rotate:
    parameters:
      - $ref: '#/components/parameters/SiteHeader'
      - { name: id, in: path, required: true, schema: { type: string } }
    post:
      summary: Rotate a SCIM token (creates new token, old expires after 24h grace period)
      responses:
        '200':
          description: New token created — raw token returned once only
          content:
            application/json:
              schema:
                type: object
                properties:
                  data: { $ref: '#/components/schemas/SCIMTokenRotated' }
        '404':
          description: Active token not found
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Error' }
